:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height   
}

.all-card{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    ". card-add-stage .";
    #add-stage{
        grid-area: card-add-stage;
        .card-title{
            margin-bottom: 0 !important;
        }
        .card-header{
            padding-bottom: 0;
        }
    }
}

h1{
    text-align: center;
}

ul{
    padding:20px 40px;
    display: flex;
    width:100%;
    justify-content: space-between;
    margin:0;
    list-style-type: none;
    background-color: aliceblue;
    li{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    li > i{
        align-self: center;
        width:50px;
        height:50px;
        line-height: 32px;
        margin-bottom: 4px;
        border: 3px solid #49505793;
        padding:5px;
        border-radius: 100%;
    }
    .fieldset-active{
        color: #293042;
        i{
            border: 3px solid #293042;
        }
    }
}

hr{
    margin: 5px 0 5px 0;
}



form{
    margin: 10px 30px 10px 30px;
    fieldset{
        margin-bottom: 10px;
    }
    .form-control-plaintext{
        outline : none;
    }
    .form-group-row{
        display: flex;
        flex-direction: row;
        margin:5px;

        label{
            width:200px;
            align-self:center;
            font-weight:bold;
            margin:0;
        }
        input, select, .form-select-plaintext{
            width:100%;
            padding:3px;
        }
        .input-group{
            width: 100% !important;
            .custom-select{
                display: inline-block;
                width: 50%;
            }
            .form-control{
                display: inline-block;
                width: 50%;
            }
        }
        
    }

    .btn-done{
        float:right;
        margin:0px 5px 0px 5px;
    }
    .btn-next, .btn-pred{
        float:right;
        margin-left:5px;
    }
        
    
}




