<form [formGroup]="ficheNotationForm" (ngSubmit)="onSubmitForm()">
    <h1>{{ title }}</h1>
    <!-- Section infos étudiant -->
    <fieldset>
        <legend>Informations sur l'étudiant</legend>
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label for="nomEtudiant">Nom :</label>
            <input type="text" id="nomEtudiant" class="form-control" formControlName="nomEtudiant">
        </div>

        <!-- Prénom étudiant -->
        <div class="form-group-row">
            <label for="prenomEtudiant">Prénom :</label>
            <input type="text" id="prenomEtudiant" class="form-control" formControlName="prenomEtudiant">
        </div>
    </fieldset>

    <hr>

    <!-- Section infos soutenance -->
    <fieldset>
        <legend>Informations sur la soutenance</legend>
        <!-- Date soutenance -->
        <div class="form-group-row">
            <label for="date">Date :</label>
            <input type="date" id="date" class="form-control" formControlName="date">
        </div>

        <!-- Heure soutenance -->
        <div class="form-group-row">
            <label for="heure">Heure :</label>
            <input type="time" id="heure" class="form-control" formControlName="heure">
        </div>
    </fieldset>

    <hr>

    <!-- Section infos encadrants (université et entreprise) -->
    <fieldset>
        <legend>Informations sur les encadrants</legend>
        <!-- Representant entreprise -->
        <fieldset>
            <legend>Représentant entreprise</legend>
            <div class="form-group-row">
                <label for="prenomRepresentant">Prénom :</label>
                <input type="text" id="prenomRepresentant" class="form-control" formControlName="prenomRepresentant">
            </div>
            <div class="form-group-row">
                <label for="nomRepresentant">Nom :</label>
                <input type="text" id="nomRepresentant" class="form-control" formControlName="nomRepresentant">
            </div>
        </fieldset>

        <!-- Tuteur université 1 -->
        <fieldset>
            <legend>Tuteur université 1</legend>
            <div class="form-group-row">
                <label for="prenomTuteur1">Prénom :</label>
                <input type="text" id="prenomTuteur1" class="form-control" formControlName="prenomTuteur1"> 
            </div>
            <div class="form-group-row">
                <label for="nomTuteur1">Nom :</label>
                <input type="text" id="nomTuteur1" class="form-control" formControlName="nomTuteur1">
            </div>
        </fieldset>

        <!-- Tuteur université 2 -->
        <fieldset>
            <legend>Tuteur université 2</legend>
            <div class="form-group-row">
                <label for="prenomTuteur2">Prénom :</label>
                <input type="text" id="prenomTuteur2" class="form-control" formControlName="prenomTuteur2">
            </div>
            <div class="form-group-row">
                <label for="nomTuteur2">Nom :</label>
                <input type="text" id="nomTuteur2" class="form-control" formControlName="nomTuteur2">
            </div>
        </fieldset>
    </fieldset>

    <hr>

    <!-- Section commentaire & notation -->
    <fieldset>
        <legend>Commentaire et notation</legend>
        
        <!-- Commentaire -->
        <div class="form-group">
            <label for="commentaire">Commentaire :</label>
            <textarea 
                id="commentaire"
                class="form-control"
                formControlName="commentaire" 
                rows="3"
                placeholder="">
            </textarea>
        </div>

        <!-- Note -->
        <div class="form-group">
            <label for="note">Note :</label>
            <input id="note" type="number" class="form-control" formControlName="note" step="1" min="0" max="20" value="10">
        </div>
    </fieldset>

    <hr>

    <p>Fait le : (date actuelle)</p>

    <button class="btn btn-primary" type="submit">Valider</button>
</form>