<form [formGroup]="ficheNotationForm" (ngSubmit)="onSubmitForm()">
    <h1>{{ title }}</h1>

    <!-- Section infos étudiant -->
    <fieldset>
        <legend>Informations sur l'étudiant</legend>
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label for="nomEtudiant">Nom :</label>
            <input id="nomEtudiant" type="text" class="form-control" formControlName="nomEtudiant" [ngbTypeahead]="searchUser" />
        </div>
    </fieldset>

    <hr>

    <!-- Section infos soutenance -->
    <fieldset>
        <legend>Informations sur la soutenance</legend>
        <!-- Date soutenance -->
        <div class="form-group-row">
            <label for="date">Date :</label>
            <input type="date" id="date" class="form-control" formControlName="date">
        </div>

        <!-- Heure soutenance -->
        <div class="form-group-row">
            <label for="heure">Heure :</label>
            <input type="time" id="heure" class="form-control" formControlName="heure">
        </div>
    </fieldset>

    <hr>

    <!-- Section infos encadrants (université et entreprise) -->
    <fieldset>
        <!-- Representant entreprise -->
        <fieldset>
            <legend>Représentant entreprise</legend>
            <div class="form-group-row">
                <label for="nomRepresentant">Nom :</label>
                <input id="nomRepresentant" type="text" class="form-control" formControlName="nomRepresentant" [ngbTypeahead]="searchUser" />
            </div>
        </fieldset>

        <!-- Tuteur université 1 -->
        <fieldset>
            <legend>Tuteur université 1</legend>
            <div class="form-group-row">
                <label for="nomTuteur1">Nom :</label>
                <input id="nomTuteur1" type="text" class="form-control" formControlName="nomTuteur1" [ngbTypeahead]="searchUser" />
            </div>
        </fieldset>

        <!-- Tuteur université 2 -->
        <fieldset>
            <legend>Tuteur université 2</legend>
            <div class="form-group-row">
                <label for="nomTuteur2">Nom :</label>
                <input id="nomTuteur2" type="text" class="form-control" formControlName="nomTuteur2" [ngbTypeahead]="searchUser" />
            </div>
        </fieldset>
    </fieldset>

    <hr>

    <!-- Section commentaire & notation -->
    <fieldset>
        <legend>Commentaire et notation</legend>
        
        <!-- Commentaire -->
        <div class="form-group">
            <label for="commentaire">Commentaire :</label>
            <textarea 
                id="commentaire"
                class="form-control"
                formControlName="commentaire" 
                rows="3"
                placeholder="">
            </textarea>
        </div>

        <!-- Note -->
        <div class="form-group">
            <label for="note">Note :</label>
            <input id="note" type="number" class="form-control" formControlName="note" step="1" min="0" max="20" value="10">
        </div>
    </fieldset>

    <hr>

    <p>Fait le : {{ todayNumber | date }}</p>

    <button class="btn btn-primary" type="submit">Valider</button>
</form>