<app-navigation title="Export des Notes"></app-navigation>

<div class="all-card-profile">
  <div id="info-user" class="card">
    <div class="card-body">
      <form [formGroup]="importForm" (ngSubmit)="onSubmit()">
        <div class="form-group">


          <label for="annee">Choisissez l'année à exporter pour les notes de stage :</label>
          <p></p>
          <input  id="annee"
                  type="text"
                  class="form-control"
                  placeholder="exemple : 2021"
                  name="Année du Stage(aaaa) "
                  formControlName="annee"
          >
        </div>




        <button type="submit" style="float:right;" class="btn btn-sm btn-primary" id="export" >Export </button>        <br>
        <br>

      </form>
    </div>
  </div>
</div>



