<app-navigation title="Export des Stages"></app-navigation>

<div class="all-card-profile">
  <div id="info-user" class="card">
    <div class="card-body">
      <form [formGroup]="importForm" (ngSubmit)="onSubmit()">
        <div class="form-group">


          <label>Exporter tous les stages de la base de données :</label>

        </div>
        <button type="submit" style="float:right;" class="btn btn-sm btn-primary" id="export" >Exporter les stages</button>
      </form>
    </div>
  </div>
</div>



