<div class="card">
    <div class="card-header">
        <h2 class="card-title">Tableau des Utilisateurs
            <button routerLink="/liste-utilisateurs/add-user" type="submit" style="float:right;" class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-plus"></i>
                Ajouter
            </button> 
        </h2>
    </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">email</th>
                <th scope="col">role</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a routerLink="/liste-utilisateurs/user">Antoine Barbier</a></td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-danger">Administrateur</span></td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-primary">Secretaire</span></td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">Tuteur</span></td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">Tuteur</span></td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Tableau des étudiants</h2>
    </div>
    
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">email</th>
                <th scope="col">parcours</th>
                <th scope="col">année Universitaire</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">M2 Aigle</span></td>
                    <td>2020/2021</td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">M2 Aigle</span></td>
                    <td>2020/2021</td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">M2 Aigle</span></td>
                    <td>2020/2021</td>
                    <td class="table-action">
                        <a routerLink="/liste-utilisateurs/edit-user-v2"><i class="icon far fa-lg fa-edit"></i></a>
                        <!-- Appel au modal  -->
                        <a href="#" data-toggle="modal" data-target="#suppression-user"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
            
<!-- Debut du Modal suppression utilisateur -->
<div class="modal fade" id="suppression-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Suppression Utilisateur</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Confirmer la suppression de l'utilisateur <strong>mario bros</strong>.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Supprimer</button>
        </div>
    </div>
    </div>
</div>

