<div class="card">
    <div class="card-header">
        <h2 class="card-title">Tableau des Utilisateurs</h2>
    </div>
    
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">email</th>
                <th scope="col">role</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a routerLink="/list-users/user">Antoine Barbier</a></td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-danger">Administrateur</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-primary">Secretaire</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-secondary">Tuteur</span></td>
                </tr>
            </tbody>
        </table>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Tableau des étudiants</h2>
    </div>
    
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">email</th>
                <th scope="col">parcours</th>
                <th scope="col">année Universitaire</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-danger">M2 Aigle</span></td>
                    <td>2020/2021</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-danger">M2 Aigle</span></td>
                    <td>2020/2021</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Antoine Barbier</td>
                    <td>antoine.barbier01@etu.umontpellier.fr</td>
                    <td><span class="badge badge-danger">M2 Aigle</span></td>
                    <td>2020/2021</td>
                </tr>
            </tbody>
        </table>
</div>

