:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height    
}

.card {

    position: relative;

    #btn-filter{
        width: fit-content;
        position: absolute;
        right: 0;
    }

    .card-parameters{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.25rem;

        & > *{
            display: flex;
        }

        .card-parameters-sort > *{
            margin: 0em 0.5em 0em 0em;
        }

        .card-parameters-search{

            #search{
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
            }

            #search-button{
                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;
            }
        }
    }

    .card-pagination{
        display: flex;
        padding: 1rem 1rem;
        justify-content: center;

        .pagination{
            cursor: pointer;
        }
    }
}