<div class="card">
    <div class="card-header">
        <h2 class="card-title">Tableau des stages</h2>
    </div>

    <button id="btn-filter" type="button" class="dropdown-toggle btn btn-link" data-toggle="collapse" data-target="#idFilter"><i class="fas fa-filter"></i> Filtrer</button>	
    
    <div class="collapse" id="idFilter">

        <div class="card-parameters">

            <div class="card-parameters-sort" >
                <select class="custom-select">
                    <option selected>Toutes les Promotions</option>
                    <option value="1">2020-2021</option>
                    <option value="2">2019-2020</option>
                    <option value="3">2018-2019</option>
                    <option value="3">2017-2018</option>
                </select>

                <select class="custom-select">
                    <option selected>Tous les Parcours</option>
                    <option value="1">AIGLE</option>
                    <option value="2">DECOL</option>
                    <option value="3">MIT</option>
                    <option value="3">IMAGINA</option>
                </select>

                <select class="custom-select">
                    <option selected>Tous les Status</option>
                    <option value="1">ACTIVE</option>
                    <option value="2">ASSIGNED</option>
                    <option value="3">IN PROGRESS</option>
                </select>

            </div>

            <div class="card-parameters-search">
                <div>
                    <input [(ngModel)]="searchFilter" type="text" placeholder="Search..." class="form-control" id="search" name="search">
                </div>
                <button id="search-button" type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Parcours</th>
            <th scope="col">Promotions</th>
            <th scope="col">Duree</th>
            <th scope="col">Etat</th>
        </tr>
        </thead>
        <tbody>
            <!-- Ajout des stages de la BDD -->
            <tr *ngFor="let stage of getStagesByKeyword()">
                <td>{{ stage.titre }}</td>
                <td>{{ stage.entreprise.nomComplet }}</td>
                <td>{{ stage.parcours.nomComplet }}</td>
                <!-- <td>{{ stage.promotions }}</td>-->
                <td>2020 - 2021</td>
                <td>{{ stage.duree }} mois</td>
                <td><span class="badge badge-success">{{ stage.etat }}</span></td>
            </tr>
        </tbody>
    </table>

    <div class="card-pagination">
        <ul class="pagination">
            <li class="page-item" (click)="onClickPreviousPage()"><a class="page-link">Previous</a></li>
            <ng-container *ngFor="let number of [].constructor(pageCount); let i = index">
                <li class="page-item" (click)="onClickPageNumber(i+1)"><a class="page-link" [ngStyle]="{'background-color': i+1==currentPage? '#f2f2f2' : '#ffffff'}">{{ i+1 }}</a></li>
            </ng-container>
            <li class="page-item" (click)="onClickNextPage()"><a class="page-link">Next</a></li>
        </ul>
    </div>
</div>