<h1>{{ title }}</h1>
<app-list-filter [commonProperties]="commonProperties"></app-list-filter>

<div class="card">
    <div class="card-header">
        <div class="card-parameters-sort" >

            <app-list-entries-number [commonProperties]="commonProperties"></app-list-entries-number>
            <button routerLink="/liste-stages/import-stage" type="submit" style="float:right;margin-left:5px; " class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-file-import"></i>
                importer
            </button>
            <app-button-add link="/saisir-stage" style="float:right;"></app-button-add>
            
        </div>
    </div>

    <table class="card-table table table-striped table-sm">
        <thead>
            <tr>
                <th (click)="sortByAscendingDescendingOrder(0)" scope="col">Titre</th>
                <th (click)="sortByAscendingDescendingOrder(1)" scope="col">Entreprise</th>
                <th (click)="sortByAscendingDescendingOrder(2)" scope="col">Parcours</th>
                <th scope="col">Promotions</th>
                <th (click)="sortByAscendingDescendingOrder(3)" scope="col">Duree</th>
                <th (click)="sortByAscendingDescendingOrder(4)" scope="col">Etat</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ajout des stages de la BDD -->
            <tr *ngFor="let stage of printStages()">
                <td><a [routerLink]="['/liste-stages', stage._id]">{{ stage.titre }}</a></td>
                <td>{{ stage.entreprise.nomComplet }}</td>
                <td>{{ stage.parcours.nomComplet }}</td>
                <!-- <td>{{ stage.promotions }}</td>-->
                <td>2020 - 2021</td>
                <td>{{ stage.duree }} mois</td>
                <td><span class="badge badge-success">{{ stage.etat }}</span></td>
            </tr>
        </tbody>
    </table>

    <app-list-pagination [commonProperties]="commonProperties"></app-list-pagination>
</div>