<app-navigation [title]="stage.titre" xmlns="http://www.w3.org/1999/html"></app-navigation>

<div class="all-card">
    <div id="status-stage">
        <ul class="nav-progress">
            <li [ngClass]="'fieldset-active progress-first'">
                <i class=""></i>
                Stage proposé
            </li>
            <li [ngClass]="'fieldset-active progress-second' ">
                <i class=""></i>
                Stage validé

            </li>
            <li [ngClass]="'fieldset-active progress-second' ">
                <i class=""></i>

                Affecté à un étudiant
            </li>
            <li>
                <i class=""></i>
                Associé à un tuteur
            </li>

            <li >
                <i class=""></i>
                Associé à un rapporteur
            </li>

            <li >
                <i class=""></i>
                Stage Terminé
            </li>
        </ul>

        <p>Etat du stage : 
            <app-state-badge [state]="stage?.etat"></app-state-badge>
        </p>
        
        <app-gestion-etat-stage [stage]="stage"></app-gestion-etat-stage>
    </div>

    <!-- Informations du stage -->
    <app-card id="information-stage" title="Informations">
        <p>Titre : {{ stage?.titre }}</p>
            <p>Parcours : {{ stage?.parcours?.acronyme }}</p>
            <p>Durée : {{ stage?.duree }} mois</p>
            <p>Date de saisi du stage : {{ stage?.datePropose | date:'fullDate':'+0200':'fr' }}</p>
            <p>Date de validation du stage : {{ stage?.dateValide | date:'fullDate':'+0200':'fr' }}</p>
            <p>Date de début du stage : {{ stage?.datedebut | date:'fullDate':'+0200':'fr' }}</p>
    </app-card>

    <!-- Avantages du stage -->
    <app-card id="avantages-stage" title="Avantages">
        <p>Salaire : {{ stage?.salaire }}</p>
        <p>Avantages : {{ stage?.avantages }}</p>
    </app-card>

    <!-- Conditions du stage -->
    <app-card id="conditions-stage" title="Conditions">
        <p>Niveau requis : {{ stage?.niveauRequis }}</p>
        <p>Conditions : {{ stage?.conditions}}</p>
        <br>
        <p>Ajouteur : {{ stage?.ajouteur?.nom + ' ' + stage?.ajouteur?.prenom }}</p>
        <p>tuteurUniv : {{ stage?.tuteurUniv?.nom + ' ' + stage?.tuteurUniv?.prenom }}</p>
        <p>rapporteur : {{ stage?.rapporteur?.nom + ' ' + stage?.rapporteur?.prenom }}</p>
        <p>etudiant : {{ stage?.etudiant?.nom + ' ' + stage?.etudiant?.prenom }}</p>
    </app-card>

    <!-- Description du stage -->
    <app-card id="description-stage" title="Description">
        <p>{{ stage?.description }}</p>
    </app-card>

    <!-- Informations sur l'entreprise du stage -->
    <app-card id="entreprise-stage" title="Entreprise">
        <p>Nom : <a [routerLink]="['/liste-entreprises', stage?.entreprise?._id]">{{ stage?.entreprise?.nom }}</a> </p>
        <p>Adresse : {{ stage?.entreprise?.voie }}</p>
        <p>Site internet : <a [href]="stage?.entreprise?.siteweb" target="_blank">{{ stage?.entreprise?.siteweb }}</a> </p>
        <br>
        <p>Tuteur dans l'entreprise: <a [routerLink]="['/liste-utilisateurs/user', stage.entreprise?.representant]">{{ stage.entreprise?.representant ? 'undefined': 'undefined'}}</a></p>
        <p>Email :</p>
        <p>tel : </p>
        <p>fax :</p>
    </app-card>
</div>


<hr>
<h2>Pièces Jointes</h2>
<div id="pieces-jointes-stage">
    <app-card>
        <table class="card-table table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Nom du fichier </th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ajout des stages de la BDD -->
                <tr *ngIf="stage?.fichier">
                    <td><a [href]="stage?.fichier" target="_blank">{{ stage?.fichier}}</a></td>
                    <td>pdf</td>
                    
                    <td class="table-action">
                        <!-- Bouton edit => ouvre un modal avec le formulaire de modification -->
                        <app-button-edit data-toggle="modal"  data-target="#modifier"></app-button-edit>
                        <!-- Bouton delete => ouvre un modal avec la demande de suppression -->
                        <app-button-delete data-toggle="modal"  data-target="#suppression"></app-button-delete>
                    </td>
                </tr>
            </tbody>
        </table>
        <form> 
            <div class="form-group-row">
                <input id='files' type="file" (input)="fileChoosen($event)" >
            </div>
            <button class="btn btn-primary btn-sm" (click)="ajouterFichier()">Ajouter le fichier</button>
        </form>
    </app-card>
</div>
<hr>

<h2>Commentaires sur le stage</h2>

<div id="commentaires-stage">
    <!-- les commentaires du stages-->
    <app-card-item-comment *ngFor="let comment of comments"
            [idUser]="comment.idUser"
            [author]="comment.author"
            [date]="comment.date">
        <p>{{ comment.content }}</p>
    </app-card-item-comment>

    <!-- Ajouter un commentaire sur le stage -->
    <div class="add-comment">
        <form>
            <div class="form-group">
                <label for="inputComment">Ajouter un commentaire : </label>
                <textarea   id="inputComment"
                            class="form-control"
                            rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">Envoyer</button>
        </form>
    </div>

</div>
