<app-navigation [title]="stage.titre"></app-navigation>

<div class="all-card">

    <app-gestion-etat-stage id="status-stage" [stage]="stage"></app-gestion-etat-stage>

    <!-- Informations du stage -->
    <app-card id="information-stage" title="Informations">
            <p>Niveau requis : {{ stage?.niveauRequis }}</p>
            <p>Parcours : {{ stage?.parcours?.acronyme }}</p>
            <p>Durée : {{ stage?.duree }} mois</p>
            <p>Début du stage : {{ stage?.dateDebut| date:'fullDate':'+0200':'fr' }}</p>
    </app-card>

    <!-- Avantages du stage -->
    <app-card id="avantages-stage" title="Avantages, conditions et compétences">
        <p>Salaire : {{ stage?.salaire }}</p>
        <p>Avantages : {{ stage?.avantages }}</p>
        <p>Conditions : {{ stage?.conditions}}</p>
        <p>Compétences : {{ stage?.competences}}</p>
    </app-card>

    <!-- Conditions du stage -->
    <app-card id="conditions-stage" title="Encadrants">
        <p *ngIf="stage?.tuteur?._id">Tuteur : <a [routerLink]="['/liste-utilisateurs/user', stage?.tuteur?._id]">{{ stage?.tuteur?.nom + ' ' + stage?.tuteur?.prenom }}</a></p>
        <p *ngIf="stage?.entreprise?.representant">Représentant entreprise: <a [routerLink]="['/liste-utilisateurs/user', stage.entreprise?.representant?._id]">{{ stage.entreprise?.representant?._id ? stage.entreprise?.representant?.nom + ' '+ stage.entreprise?.representant?.prenom: ''}}</a></p>
        <p *ngIf="stage?.rapporteur?._id">Rapporteur : <a [routerLink]="['/liste-utilisateurs/user', stage?.rapporteur?._id]">{{ stage?.rapporteur?.nom + ' ' + stage?.rapporteur?.prenom }}</a></p>
    </app-card>

    <!-- Description du stage -->
    <app-card id="description-stage" title="Description">
        <p class="content-with-newline">{{ stage?.description }}</p>
    </app-card>

    <!-- Informations sur l'entreprise du stage -->
    <app-card id="entreprise-stage" title="Entreprise">
        <p>Nom : <a [routerLink]="['/liste-entreprises', stage?.entreprise?._id]">{{ stage?.entreprise?.nom }}</a> </p>
        <p>Adresse : {{ stage?.entreprise?.voie }}</p>
        <p>Site internet : <a [href]="stage?.entreprise?.siteweb" target="_blank">{{ stage?.entreprise?.siteweb }}</a> </p>
        <br>

    </app-card>
</div>


<hr>
<h2>Pièces Jointes</h2>
<div id="pieces-jointes-stage">
    <app-card>
        <table class="card-table table table-striped table-sm">
            <thead>
            <p *ngIf="errorMessage" class="alert alert-danger">Pour modifier une Pièce Jointe veuillez choisir votre fichier en premier </p>
                <tr>
                    <th scope="col">Nom du fichier </th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ajout des stages de la BDD -->
                <tr *ngFor="let p of stage.fichier ">
                    <td><a [href]="p.chemin" target="_blank">{{ p.nom}}</a></td>
                    <td>pdf</td>

                    <td class="table-action">
                        <!-- Bouton edit => ouvre un modal avec le formulaire de modification -->
                        <app-button-edit data-toggle="modal" (click)="modifierFichier(p._id)"  data-target="#modifier" ></app-button-edit>

                        <app-button-delete data-toggle="modal" (click)="supprimerFichier(p._id)" data-target="#suppression"></app-button-delete>
                    </td>
                </tr>
            </tbody>
        </table>
        <form>
            <div class="form-group-row">
                <input id='files' type="file" (input)="fileChoosen($event)" >
            </div>
            <button class="btn btn-primary btn-sm" (click)="ajouterFichier()" [disabled]="!uploaded" >Ajouter le fichier</button>
        </form>
    </app-card>
</div>
<hr>

<h2>Commentaires sur le stage</h2>

<div id="commentaires-stage">
    <!-- les commentaires du stages-->
    <app-card-item-comment *ngFor="let comment of comments"
            [idUser]="comment.idUser"
            [author]="comment.author"
            [date]="comment.date">
        <p>{{ comment.content }}</p>
    </app-card-item-comment>

    <!-- Ajouter un commentaire sur le stage -->
    <div class="add-comment">
        <form>
            <div class="form-group">
                <label for="inputComment">Ajouter un commentaire : </label>
                <textarea   id="inputComment"
                            class="form-control"
                            rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">Envoyer</button>
        </form>
    </div>

</div>
