:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height   
}

.all-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 15px 15px;
    grid-template-areas:
    "status status status"
    "info conditions entreprise"
    "description description entreprise"
    "avantages avantages avantages";

    margin: 1rem;

    #status-stage{
        grid-area: status;
        height:100%;
    }
    #informations-stage{
        grid-area: info;
    }
    #avantages-stage{
        grid-area: avantages;
    }
    #description-stage{
        grid-area: description;
    }
    #entreprise-stage{
        grid-area: entreprise;
    }
    #conditions-stage{
        grid-area: conditions;
    }
}

.form-group-row{
    display: grid;
    grid-template-columns: auto 1fr auto;
    row-gap: 15px;
    margin:10px;

    label{
        width:100px;
        align-self:center;
        font-weight:bold;
        margin:0;
    }
    select{
        width:100%;
    }
    
}

#commentaires-stage, #pieces-jointes-stage{
    margin: 1rem;
}

