<p><a routerLink=".."><i class="fas fa-chevron-left"></i> Retour</a></p>
<br/>
<h1>{{ title }}</h1>


<div class="all-card">
    <div id="status-stage">
        <ul class="nav-progress">
            <li [ngClass]="'fieldset-active progress-first'">
                <i class=""></i>
                Stage proposé
            </li>
            <li [ngClass]="'fieldset-active progress-second' ">
                <i class=""></i> 
                Stage validé
                
            </li>
            <li [ngClass]="'fieldset-active progress-second' ">
                <i class=""></i> 
                
                Affecté à un étudiant
            </li>
            <li>
                <i class=""></i> 
                Associé à un tuteur
            </li>
            
            <li >
                <i class=""></i> 
                Associé à un rapporteur
            </li>
            
            <li >
                <i class=""></i>
                Stage Terminé
            </li>
        </ul>
    </div>

    <div id="informations-stage" class="card">
        <div class="card-header">
            <h2 class="card-title">Informations</h2>
        </div>
        <div class="card-body">
            <p>Titre : stage developpeur web PHP</p>
            <p>Parcours : M2 aigle</p>
            <p>Durée : 5 mois</p>
            <p>Date début : 05/03/2021</p>
        </div>
    </div>

    <div id="avantages-stage"class="card">
        <div class="card-header">
            <h2 class="card-title">Avantages</h2>
        </div>
        <div class="card-body">
            <p>Salaire : 1500€ net par mois</p>
            <p>Avantages : ticket restaurant + transport en communs</p>
        </div>
    </div>

    <div id="conditions-stage"class="card">
        <div class="card-header">
            <h2 class="card-title">Conditions</h2>
        </div>
        <div class="card-body">
            <p>Niveau requis : bac+2</p>
            <p>Conditions : avoir des compétence en gestion de projet.</p>
            <p>Compétences attendu :</p>
            
        </div>
    </div>

    <div id="description-stage"class="card">
        <div class="card-header">
            <h2 class="card-title">Description</h2>
        </div>
        <div class="card-body">
            <p>Contexte : l'IBMM et l'ICGM sont des unités de recherche du CNRS, basées à Montpellier dans le domaine 
                de la chimie et de la biochimie. Les laboratoires sont hébergés sur plusieurs sites, dont les principaux 
                sont la Faculté de Pharmacie et la Faculté des Sciences.</p>
                <!--<p>Contenu : basé à la faculté de Pharmacie, le stagiaire se verra confier le projet suivant :
                    Reprise et poursuite du développement d'une application web de gestion de produits chimiques (chimiothèque), 
                    en collaboration avec le service informatique de l'Institut Charles Gerhardt de Montpellier (ICGM).
                    Ajout de fonctionnalités permettant l'utilisation par les équipes IBMM et ICGM :
                    1) développement de la modularité des stocks (lieu de stockage, indexation,...)
                    2) import de fichiers de stocks de produits commerciaux provenant de bases de données existantes :
                    - Format .csv ou .sdf issus du logiciel E-Novalys pour une équipe de l'IBMM
                    - Format .csv issus d'une base de données Microsoft SQL Server pour une équipe de l'ICGM (fichiers obtenus avec l'outil MDB tools pour transformer le fichier .mdb en .csv)
                    3) éventuellement si 1) et 2) terminées avant la fin du stage :
                    - gestion de la structuration des instituts avec permissions associées (authentification annuaire LDAP)
                    - la possibilité d'interroger les bases de données des fournisseurs pour récupérer formules chimiques développées et risques chimiques.
                    Compétences techniques développées : Langages PHP, JavaScript, HTML5, CSS, bases de données PostgreSQL, API JQuery, Bootstrap, requêtes AJAX, framework PHP.
                    Début du stage : dès que possible. Durée : 4 à 5 mois.
                    Encadrement : le stagiaire sera co-encadré par un ingénieur informaticien ICGM, un ingénieur informaticien IBMM et un ingénieur chimiste IBMM</p>
            </p>-->
                </div>
    </div>

    <div id="entreprise-stage"class="card">
        <div class="card-header">
            <h2 class="card-title">Entreprise</h2>
        </div>
        <div class="card-body">
            <p>Nom : IBM Montpellier</p>
            <p>Adresse : 9 rue Ada
            34090 Montpellier</p>
            <p>Site internet :	http://www.lirmm.fr/</p>
            <p>Tuteur dans l'entreprise:	Tibermacine Chouki</p>
            <p>Email :	tibermacin@lirmm.fr</p>
            <p>tel :	0467149724</p>
            <p>fax :</p>
        </div>
    </div>
</div>


<hr>
<h2>Pièces Jointes</h2>
<div id="commentaires-stage">
    
    <div class="card commentaire">
        <div class="card-body">
            <p><a href="#">Fiche_entreprise.pdf</a></p>
            <p><a href="#">Rapport_de_stage2.pdf</a></p>
            <p><a href="#">Fiche_suivie.pdf</a></p>
        </div>
    </div>
</div>
<hr>

<h2>Commentaires sur le stage</h2>

<div id="commentaires-stage">
    
    <div *ngFor="let comment of comments" class="card commentaire">
        <div class="card-header">
            <p class="comment-title">
                <span class="comment-author"><a routerLink="/liste-utilisateurs/user">{{ comment.author }}</a></span>
                 - 
                 <span class="comment-date">{{ comment.date | date }}</span>
            </p>
            <span class="comment-timeago">il y a 5 jours</span>
        </div>
        <div class="card-body">            
            <p class="comment-content">
                {{ comment.content }}
            </p>
        </div>
    </div>

    <div class="add-comment">
        <form>
            <div class="form-group">
                <label for="inputComment">Ajouter un commentaire : </label>
                <textarea   id="inputComment"
                            class="form-control"  
                            rows="3">
                </textarea>
            </div>
            <button class="btn btn-secondary btn-sm">Envoyer</button>
        </form>
    </div>

</div>
