header{
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
}
#website-title{
    color: #293042;
    font-weight: 500;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .button-sidebar{
        align-self:center;
        margin:0 0.5rem;
        color:#293042;
        cursor: pointer;
    }

    #changeRole{
        float:right;
        display: flex;
        flex-direction: row;
        .custom-control{
            margin-left:1rem;
            align-self: center;
        }
        p{
            margin-right:1rem;
            align-self: center; 
        }
    }
    a:hover{
        text-decoration: none !important;
    }
    .dropdown-item{
        cursor: pointer;
    }
    #user-name{
        align-self: center;
        margin-right: 1rem;
        text-decoration: none;   
    }

    #user-icon{
        align-self: center;
        a{
            color:#495057;
            cursor: pointer;
        }
    }
    
    #navbarRight{
        display:flex;
        a{
            cursor: pointer;
        }
        p{
            width:100%;
            text-align: right;
        }
        
    }
}