header{
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    #navbarRight{
        a{
            color:#495057;
            cursor:pointer;
        }

        
        p{
            width:100%;
            text-align: right;
        }
        
    }
}