<header>
    <nav class="navbar navbar-expand navbar-light bg-light" >
        <div id="navbarLeft">
          <ul class="navbar-nav">
            <li class="button-sidebar">
              <a (click)="changeDisplaySidebar()">
                <i class="fas fa-lg fa-stream"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/liste-stages">Stages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Planing soutenance</a>
            </li>
          </ul>
        </div>

        <!-- Test des roles-->
        <div id="changeRole">
          <div class="dropdown">
            <a class="dropdown-toggle btn btn-sm btn-secondary" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Role : {{monRole}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="setRole('invite')">invite</a>
                <a class="dropdown-item" (click)="setRole('etudiant')">etudiant</a>
                <a class="dropdown-item" (click)="setRole('tuteur')">tuteur</a>
                <a class="dropdown-item" (click)="setRole('respParcours')">respParcours</a>
                <a class="dropdown-item" (click)="setRole('repEntreprise')">repEntreprise</a>
                <a class="dropdown-item" (click)="setRole('secretaire')">secretaire</a>
                <a class="dropdown-item" (click)="setRole('admin')">admin</a>
                
            </div>
          </div>
      </div>

      <div id="navbarRight">
        <div class="dropdown" id="user-icon">
            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="user-name">test@etu.umontpellier.fr</span>  
              <i  class="sidebar-icon fa-lg fas fa-user-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <a class="dropdown-item" routerLink="/">Paramètres</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/login">Déconnexion </a>
            </div>
          </div>
        </div>
    </nav>
</header>
