header{
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #changeRole{
        float:right;
    }
    a:hover{
        text-decoration: none !important;
    }
    .dropdown-item{
        cursor: pointer;
    }
    #user-name{
        align-self: center;
        margin-right: 1rem;
        text-decoration: none;   
    }

    #user-icon{
        align-self: center;
        a{
            color:#495057;
            cursor: pointer;
        }
    }
    
    #navbarRight{
        display:flex;
        a{
            cursor: pointer;
        }
        p{
            width:100%;
            text-align: right;
        }
        
    }
}