.card-pagination{
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    

    .current-page{
        background-color: #3f80ea;
        color:white;
    }

    .pagination{
        cursor: pointer;
    }
}