<p>list-pagination works!</p>
<div class="card-pagination">
    <ul class="pagination">
        <li class="page-item" (click)="onClickPreviousPage()"><a class="page-link">Previous</a></li>
        <li class="page-item" [ngStyle]="{'display': currentPage>3? 'block':'none'}"><a class="page-link">...</a></li>
        <ng-container *ngFor="let number of [].constructor(pageCount); let i = index">
            <li class="page-item" 
                (click)="onClickPageNumber(i+1)" 
                [ngStyle]="{'display': (i+1)<currentPage? currentPage-(i+1)<3? 'block':'none' : (i+1)-currentPage<3? 'block':'none'}">
                <a [ngClass]="i+1==currentPage? 'current-page page-link' : 'page-link'">{{ i+1 }}</a>
            </li>
        </ng-container>
        <li class="page-item" [ngStyle]="{'display': currentPage<=pageCount-3? 'block':'none'}"><a class="page-link">...</a></li>
        <li class="page-item" (click)="onClickNextPage()"><a class="page-link">Next</a></li>
    </ul>
</div>