@import '/src/assets/styles/colors.scss';

// couleur des état d'un stage
.state-propose{
    color: #000;
    background-color: $color-yellow;
}

.state-valide{
    color: #fff;
    background-color: $color-green;
}

.state-refuse{
    color: #fff;
    background-color: $color-red;
}
.state-reserve{
    color: #fff;
    background-color: $color-purple;
}
.state-affectEtudiant{
    color: #fff;
    background-color: $color-blue;
}
.state-affectTuteur{
    color: #fff;
    background-color: $color-blue-silver;
}
.state-affectRapporteur{
    color: #000;
    background-color: $color-blue-livid;
}
.state-termine{
    color: #fff;
    background-color: $color-black;
}
