<h1>Exemple de cards</h1>
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Nom de la carte</h2>
        <h2 class="card-subtitle">Subtitle de la carte</h2>
    </div>
    
    <div class="card-body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi maxime aut 
            facilis voluptate error ea, hic nemo non et dicta autem alias ratione quas. Optio 
            hic facilis quo veritatis!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi maxime aut 
            facilis voluptate error ea, hic nemo non et dicta autem alias ratione quas. Optio 
            hic facilis quo veritatis!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi maxime aut 
            facilis voluptate error ea, hic nemo non et dicta autem alias ratione quas. Optio 
            hic facilis quo veritatis!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi maxime aut 
            facilis voluptate error ea, hic nemo non et dicta autem alias ratione quas. Optio 
            hic facilis quo veritatis!</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Nom du tableau</h2>
        <h2 class="card-subtitle">Subtitle de la carte</h2>
    </div>
    
    
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    
</div>