<div class="card">
    <div id="idFilter">
        <div class="card-parameters">
            <div class="card-parameters-search">
                <label>Rechercher </label>
                <input [(ngModel)]="commonProperties.searchFilter" type="text" placeholder=""
                    class="form-control" id="search" name="search">
                <button class="btn btn-link" style="margin-left:5px;" class="btn btn-secondary btn-sm">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
    </div>
</div>