<p><a routerLink=".."><i class="fas fa-chevron-left"></i> Retour</a></p>
<br/>
<h1>{{ title }}</h1>


<div class="all-card-profile">
    <div id="info-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Informations</h2>
        </div>
        <div class="card-body">
            <p><strong>Nom entreprise</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis esse, aliquam nam aliquid eveniet, vitae est quae ut tempore iusto labore! Tenetur optio suscipit aspernatur corrupti earum sapiente, ex et?</p>
        </div>
    </div>
    <div id="adresse-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Localisation</h2>
        </div>
        <div class="card-body">
            <p>9 rue des buissons</p>
            <p>Montpellier - 34090</p>
            <p>France</p>
        </div>
    </div>
    <div id="contact-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Contact</h2>
        </div>
        <div class="card-body">
            <p>Site Web : https://www.google.com</p>
            <p>Tel : 06 70 89 77 89</p>
            <p>Fax : </p>
        </div>
    </div>

    <div id="stages-entreprise" class="card">
        <div class="card-header">
            <h2 class="card-title"> Les stages</h2>
        </div>
        <div class="card-body">
            <div class="card card-stage"> 
                <p class="stage-etat">
                    <span class="badge badge-success">Validé</span>
                </p>
                <p class="stage-body">
                     <span class="stage-titre">Stage Ingénieur SALESFORCE/CPQ</span><br>
                     <span class="stage-entreprise">IBM Montpellier</span>
                </p>
                <span class="stage-date">2018/2019</span>
            </div>

            <div class="card card-stage"> 
                <p class="stage-etat">
                    <span class="badge badge-warning">Proposé</span>
                </p>
                <p class="stage-body">
                     <span class="stage-titre">Pilotage, conception et développement d'applications web.</span><br>
                     <span class="stage-entreprise">SMILE</span>
                </p>
                <span class="stage-date">2018/2019</span>
            </div>


            <div class="card card-stage"> 
                <p class="stage-etat">
                    <span class="badge badge-danger">Refusé</span>
                </p>
                <p class="stage-body">
                     <span class="stage-titre">Administrateur Réseau / Système, Développement soft Interne</span><br>
                     <span class="stage-entreprise">EIGHT.TECH</span>
                </p>
                <span class="stage-date">2018/2019</span>
            </div>

            
            
        </div>
    </div>
</div>
