:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height   
}

.all-card-profile{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    ". card-add-entreprise .";
    #edit-entreprise{
        grid-area: card-add-entreprise;
    
    }
}

h1{
    text-align: center;
}