:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height   
}
.card{
    .card-header{
        padding-bottom: 0;
    }
    .card-body{
        padding-top: 0;
    }
}
.all-card-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 15px 15px;
    grid-template-areas:
    "presentation info adresse"
    "presentation  contact adresse"
    "stages stages stages";
    #presentation-entreprise{
        grid-area: presentation;
    }
    #adresse-entreprise{
        grid-area: adresse;
    }
    #contact-entreprise{
        grid-area: contact;
    }
    #stages-entreprise{
        grid-area: stages;
    }
    #info-entreprise{
        grid-area: info;
    }
}

.card{
    margin:0;
}















