<app-navigation [title]="title"></app-navigation>


<div class="all-card-profile">
    <div id="presentation-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Description</h2>
        </div>
        <div class="card-body">
            <p>Ubisoft est un créateur de mondes, qui a pour ambition d'enrichir la vie des joueurs en créant des expériences de jeu originales et mémorables.</p>
        </div>
    </div>

    <div id="info-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Informations</h2>
        </div>
        <div class="card-body">
            <p>N° Siret : 4536839028</p>
            <p>Nombre employé : 10</p>
            <p>Chiffre affaire en 2019 : 10M</p>
            <p>Possède un local ? oui</p>
        </div>
    </div>

    <div id="adresse-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Localisation</h2>
        </div>
        <div class="card-body">
            <p>9 rue des buissons</p>
            <p>Montpellier - 34090</p>
            <p>France</p>
        </div>
    </div>
    <div id="contact-entreprise"class="card">
        <div class="card-header">
            <h2 class="card-title">Contact</h2>
        </div>
        <div class="card-body">
            <p>Site : <a href="#">https://www.google.com</a></p>
            <p>Tel : <a href="#">06 75 45 56 78</a></p>
            <p>Fax : <a href="#">06 75 45 56 78</a></p>
            <!--
            <form >
                <div class="form-group-row">
                    <label for="inputSiteInternetEntreprise">Site Internet</label>
                    <input  type="text" 
                            id="inputSiteInternetEntreprise"  
                            class="form-control-plaintext"
                            value="https://www.google.com"
                            name="entrepriseSiteInternet">
                </div>

                <div class="form-group-row">
                    <label for="inputTelEntreprise">Tel</label>
                    <input  type="text" 
                            id="inputTelEntreprise"  
                            class="form-control-plaintext"
                            value="06 75 45 56 78"
                            name="entrepriseTel"
                            readonly>
                </div>

                <div class="form-group-row">
                    <label for="inputFaxEntreprise">Fax</label>
                    <input  type="text" 
                            id="inputFaxEntreprise"  
                            class="form-control-plaintext"
                            value="06 75 45 56 78"
                            name="entrepriseFax"
                            readonly>
                </div>
            </form>
            -->
        </div>
    </div>

    <app-card-stages id="stages-entreprise">
        
    </app-card-stages>
</div>
