<form [formGroup]="ficheSuiviForm" (ngSubmit)="onSubmitForm()">
    <h1>{{ title }}</h1>
    <!-- Section information -->
    <fieldset>
        <legend>Informations générales</legend>
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label>Nom :</label>
            <input type="text">
            <!--
            <label for="typeahead-format">Nom :</label>
            <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />
            -->
        </div>

        <!-- Prénom étudiant -->
        <div class="form-group-row">
            <label>Prénom :</label>
            <input type="text">
        </div>

        <!-- Parcours étudiant -->
        <div class="form-group-row">
            <label>Parcours :</label>
            <select>
                <option value="" disabled selected>Parcours</option>
                <option *ngFor="let x of allParcours"> {{ x.acronyme }} </option>
            </select>
        </div>

        <!-- Niveau étudiant -->
        <div class="form-group-row">
            <label>Niveau :</label>
            <select>
                <option value="" disabled selected>Niveau</option>
                <option *ngFor="let x of niveau"> {{ x }} </option>
            </select>
        </div>

        <!-- Tuteur de l'étudiant -->
        <div class="form-group-row">
            <label>Tuteur :</label>
            <select>
                <option value="" disabled selected>Enseignant tuteur</option>
                <ng-container *ngFor="let x of allUsers" >
                    <option *ngIf="x.role === 'tuteur'">{{ x.prenom }} {{ x.nom }}</option>
                </ng-container>
            </select>
        </div>

        <!-- Responsable entreprise -->
        <div class="form-group-row">
            <label>Responsable :</label>
            <select>
                <option value="" disabled selected>Responsable entreprise</option>
                <ng-container *ngFor="let x of allUsers" >
                    <option *ngIf="x.role === 'representantEntreprise'">{{ x.prenom }} {{ x.nom }}</option>
                </ng-container>
            </select>
        </div>
    </fieldset>

    <hr>

    <!-- Section échanges étudiant/tuteur -->
    <fieldset>
        <fieldset>
            <legend>Contact 1</legend>
            <!-- Date visite -->
            <div class="form-group-row">
                <label>Date de visite :</label>
                <input type="date">
            </div>

            <!-- Type de contact -->
            <div class="form-group-row">
                <label>Type de contact :</label>
                <select>
                    <option value="" disabled selected>Type de contact</option>
                    <option *ngFor="let x of contact">{{ x }}</option>
                </select>
            </div>

            <!-- Commentaire -->
            <div class="form-group">
                <label>Commentaire :</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </fieldset>
    </fieldset>

    <hr>

    <!-- Bilan du stage -->
    <fieldset>
        <legend>Bilan du stage</legend>
        <!-- Date début -->
        <div class="form-group-row">
            <label>Date de début :</label>
            <input type="date">
        </div>

        <!-- Date fin -->
        <div class="form-group-row">
            <label>Date de fin :</label>
            <input type="date">
        </div>

        <!-- Bilan explicatif -->
        <div class="form-group">
            <label>Bilan :</label>
            <textarea 
                class="form-control" 
                rows="3"
                placeholder="Bilan du stage pratique (sur l'entreprise, votre encadrement, l'adéquation de votre formation, autre...)">
            </textarea>
        </div>

        <!-- Embauche -->
        <div class="form-group-row">
            <label>Embauche :</label>
            <select>
                <option value="" disabled selected>L'entreprise est-elle prete a embaucher ?</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
        </div>
    </fieldset>

    <hr>

    <p>Fait le : (date actuelle)</p>

    <button class="btn btn-primary" type="submit">Valider</button>
</form>

