<p>form-fiche-suivi works!</p>

<form>
    <!-- Section information -->
    <fieldset>
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label>Nom :</label>
            <input type="text">
        </div>

        <!-- Prénom étudiant -->
        <div class="form-group-row">
            <label>Prénom :</label>
            <input type="text">
        </div>

        <!-- Parcours étudiant -->
        <div class="form-group-row">
            <label>Parcours :</label>
            <select name="role" formControlName="role">
                <option value="" disabled selected>Parcours</option>
                <option value="MIT">MIT</option>
                <option value="AIGLE">AIGLE</option>
                <option value="DECOL">DECOL</option>
                <option value="IMAGINA">IMAGINA</option>
            </select>
        </div>

        <!-- Niveau étudiant -->
        <div class="form-group-row">
            <label>Niveau :</label>
            <select name="role" formControlName="role">
                <option value="" disabled selected>Niveau</option>
                <option value="M2">M2</option>
                <option value="M1">M1</option>
                <option value="L3">L3</option>
                <option value="L2">L2</option>
                <option value="L1">L1</option>
            </select>
        </div>

        <!-- Tuteur de l'étudiant -->
        <div class="form-group-row">
            <label>Enseignant tuteur :</label>
            <select name="role" formControlName="role">
                <option value="" disabled selected>Enseignant tuteur</option>
                <option value="tuteur1">tuteur1</option>
                <option value="tuteur2">tuteur2</option>
                <option value="tuteur3">tuteur3</option>
                <option value="tuteur4">tuteur4</option>
                <option value="tuteur5">tuteur5</option>
            </select>
        </div>

        <!-- Responsable entreprise -->
        <div class="form-group-row">
            <label>Responsable :</label>
            <input type="text">
        </div>
    </fieldset>

    <hr>

    <!-- Section échanges étudiant/tuteur -->
    <fieldset>
        <!-- Date visite -->
        <div class="form-group-row">
            <label>Date de visite :</label>
            <input type="date">
        </div>

        <!-- Type de contact -->
        <div class="form-group-row">
            <label>Type de contact :</label>
            <select name="typeContact" formControlName="typeContact">
                <option value="" disabled selected>Type</option>
                <option value="telephone">Téléphone</option>
                <option value="mail">Mail</option>
                <option value="visite">Visite</option>
            </select>
        </div>

        <!-- Commentaire -->
        <div class="form-group">
            <label>Commentaire :</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

    </fieldset>
</form>

