<p>form-fiche-suivi works!</p>

<form>
    <!-- Section information -->
    <fieldset>
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label>Nom :</label>
            <input type="text">
        </div>

        <!-- Prénom étudiant -->
        <div class="form-group-row">
            <label>Prénom :</label>
            <input type="text">
        </div>

        <!-- Parcours étudiant -->

        <!-- Niveau étudiant -->

        <!-- Tuteur de l'étudiant -->

        <!-- Responsable entreprise -->

    </fieldset>
</form>

