<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <!-- Section information profile-->
    <fieldset>
        <legend>Infos Utilisateur</legend>

        <!-- Nom de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserNom':'editUserNom'">Nom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserNom':'editUserNom'" 
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    placeholder="Nom de l'utilisateur"
                    [(ngModel)]="user.nom"
                    name="nom"
                    formControlName="nom"
                    [readonly]="viewUser">
        </div>

        <!-- Prénom de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPrenom':'editUserPrenom'">Prénom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserPrenom':'editUserPrenom'" 
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"  
                    placeholder="Prénom de l'utilisateur" 
                    name="prenom"
                    formControlName="prenom"
                    [readonly]="viewUser">
        </div>

        <!-- Rôle de l'utilisateur -->
        <div class="form-group-row">
            <label for="inputRole">Role</label>
            <div *ngIf="viewUser" class="form-select-plaintext">
                <span class="badge badge-secondary">{{ user.role }}</span>
            </div>    
            <select required 
                    [id]="addUser ? 'addUserInput':'editUserInput'"  
                    *ngIf="!(viewUser)"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.role"
                    (ngModelChange)="displaySection(user.role)"
                    name="role"
                    formControlName="role">
                <option value="" disabled selected>Selectionner un rôle</option>
                <option value="invite">Invité</option>
                <option value="etudiant">Étudiant</option>
                <option value="tuteur">Enseignant (Tuteur)</option>
                <option value="secretaire">Secrétaire</option>
                <option value="representantEntreprise">Représentant Entreprise</option>
                <option value="responsableParcours">Responsable de parcours</option>
                <option value="responsablePedagogique">Responsable pédagogique</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <!-- Email de l'utilisateur -->
        <div class="form-group-row" *ngIf="addUser">
            <label [for]="addUser ? 'addUserEmail':'editUserEmail'">Email</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserEmail':'editUserEmail'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.email"
                    placeholder="Email de l'utilisateur" 
                    name="email"
                    formControlName="email"
                    [readonly]="viewUser">
        </div>

        <!-- Mot de passe de l'utilisateur -->
        <div class="form-group-row" *ngIf="addUser">
            <label [for]="addUser ? 'addUserPassword':'editUserPassword'">Mot de passe</label>
            <input  type="password" 
                    [id]="addUser ? 'addUserPassword':'editUserPassword'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.password"
                    class="form-control"
                    placeholder="Mot de passe de l'utilisateur" 
                    name="password"
                    formControlName="password"
                    [readonly]="viewUser">
        </div>
    </fieldset>

    <!-- Section coordonnées de l'utilisateur -->
    <fieldset *ngIf="displaySectionCoordonnees">
        <legend>Infos Coordonnées</legend>

        <!-- Téléphone de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPhone':'editUserPhone'">Téléphone</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserPhone':'editUserPhone'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.telephone"
                    placeholder="Telephone de l'utilisateur" 
                    name="telephone"
                    formControlName="telephone"
                    [readonly]="viewUser">
        </div>

        <!-- Fax de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserFax':'editUserFax'">Fax</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserFax':'editUserFax'"  
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.fax"
                    placeholder="Fax de l'utilisateur" 
                    name="fax"
                    formControlName="fax"
                    [readonly]="viewUser">
        </div>
    </fieldset>

    <!-- Section informations Etudiant de l'utilisateur -->
    <fieldset *ngIf="displaySectionEtudiant">
        <legend>Infos Étudiant</legend>

        <!-- Numéro de l'étudiant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserNumEtudiant':'editUserNumEtudiant'">Numéro</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserNumEtudiant':'editUserNumEtudiant'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.numeroEtudiant"
                    placeholder="Numéro de l'Étudiant" 
                    name="numEtudiant"
                    formControlName="numeroEtudiant"
                    [readonly]="viewUser">
        </div>

        <!-- Promotion de l'étudiant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPromotion':'editUserPromotion'">Promotion</label>
            <div *ngIf="viewUser" class="form-select-plaintext">
                <span>{{ user.promotion }}</span>
            </div>
            <select *ngIf="!(viewUser)"
                    [id]="addUser ? 'addUserPromotion':'editUserPromotion'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.promotion"
                    class="form-control" 
                    name="promotionEtudiant"
                    formControlName="promotion">
                <option value="" disabled selected>Selectionner la promotion</option>
                <option *ngFor="let i of promotions.reverse()" [ngValue]="i">{{ i }}</option>
            </select>
        </div>
        
    </fieldset>

    <!-- Section représentant d'entreprise -->
    <fieldset *ngIf="displaySectionEntreprise">
        <legend>Infos Entreprise</legend>

        <!-- Fonction du représentant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserFonction':'editUserFonction'">Fonction</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserFonction':'editUserFonction'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.fonction"
                    placeholder="Fonction occupée dans l'entreprise" 
                    name="fonction"
                    formControlName="fonction"
                    [readonly]="viewUser">
        </div>

        <!-- Entreprise du représentant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserEntreprise':'editUserEntreprise'">Nom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserEntreprise':'editUserEntreprise'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    [(ngModel)]="user.entreprise"
                    placeholder="Nom de l'entreprise" 
                    name="fonction"
                    formControlName="entreprise"
                    [readonly]="viewUser">
        </div>

        <datalist id="entreprise-list">
            <option>IBM</option>
            <option>Cap Gemini</option>
            <option>Ubisoft</option>
        </datalist>
    </fieldset>

    <!--------------------------------->
    <!-- Si Modification Utilisateur -->
    <!--------------------------------->

    <!-- On place le bouton click car sinon on ne peut pas executer la fonction car le data-dismiss apparait avant-->
    <button *ngIf="editUser" 
            type="submit" 
            (click)="onSubmitForm()" 
            data-dismiss="modal" 
            class="btn btn-primary btn-sm btn-modifier" 
            [disabled]="userForm.pristine">
        Modifier
    </button>

    <!-- Si Ajouter un Parcours -->
    <button *ngIf="addUser"
            type="submit" 
            (click)="onSubmitForm()"
            data-dismiss="modal"
            class="btn btn-primary btn-sm btn-ajouter"
            [disabled]="userForm.invalid">
        Ajouter
    </button>

</form>

<!-- Debut du Modal suppression utilisateur -->
<app-modal  class="modal fade"
            tabindex="-1"
            role="dialog"
            id="suppression-user"
            title="Suppression Utilisateur">
            <p>Confirmer la suppression de l'utilisateur.</p>
</app-modal>
