<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <!-- Section information profile-->
    <fieldset>
        <!-- Nom de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserNom':'editUserNom'">Nom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserNom':'editUserNom'"  
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    placeholder="{{ viewUser ? 'undefined' : 'Nom de l\'utilisateur' }}"
                    name="nom"
                    [readonly]="viewUser"
                    formControlName="nom">
        </div>

        <!-- Prénom de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPrenom':'editUserPrenom'">Prénom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserPrenom':'editUserPrenom'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    placeholder="{{ viewUser ? 'undefined' : 'Prénom de l\'utilisateur' }}"
                    name="prenom"
                    [readonly]="viewUser"
                    formControlName="prenom">
        </div>

        <!-- Rôle de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserRole':'editUserRole'">Rôle</label>
            <div *ngIf="viewUser" class="form-select-plaintext">
                <span class="badge badge-secondary">{{ user.role }}</span>
            </div>
            <select [id]="addUser ? 'addUserRole':'editUserRole'"
                    *ngIf="!(viewUser)"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                    name="role"
                    formControlName="role">
                <option value="" disabled selected>Selectionner un rôle</option>
                <option value="invite">Invité</option>
                <option value="etudiant">Étudiant</option>
                <option value="tuteur">Enseignant (Tuteur)</option>
                <option value="secretaire">Secrétaire</option>
                <option value="representantEntreprise">Représentant Entreprise</option>
                <option value="responsableParcours">Responsable de parcours</option>
                <option value="responsablePedagogique">Responsable pédagogique</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <!-- Email de l'utilisateur -->
        <div class="form-group-row" *ngIf="!editUser">
            <label [for]="addUser ? 'addUserEmail':'editUserEmail'">Email</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserEmail':'editUserEmail'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="email"
                    placeholder="{{ viewUser ? 'undefined' : 'Email de l\'utilisateur' }}"
                    [readonly]="viewUser"
                    formControlName="email">
        </div>

        <!-- Mot de passe de l'utilisateur -->
        <div class="form-group-row" *ngIf="addUser">
            <label [for]="addUser ? 'addUserPassword':'editUserPassword'">Mot de passe</label>
            <input  type="password" 
                    [id]="addUser ? 'addUserPassword':'editUserPassword'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="password"
                    placeholder="{{ viewUser ? 'undefined' : 'Mot de passe' }}"
                    autocomplete="off"
                    formControlName="password">
        </div>
    </fieldset>

    <!-- Section coordonnées de l'utilisateur -->
    <fieldset *ngIf="displaySectionCoordonnees">

        <!-- Téléphone de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPhone':'editUserPhone'">Téléphone</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserPhone':'editUserPhone'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="telephone"
                    placeholder="{{ viewUser ? 'undefined' : 'Numéro de téléphone' }}"
                    [readonly]="viewUser"
                    formControlName="telephone">
        </div>

        <!-- Fax de l'utilisateur -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserFax':'editUserFax'">Fax</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserFax':'editUserFax'"  
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="fax"
                    placeholder="{{ viewUser ? 'undefined' : 'Numéro de fax' }}"
                    [readonly]="viewUser"
                    formControlName="fax">
        </div>
    </fieldset>

    <!-- Section informations Etudiant de l'utilisateur -->
    <fieldset *ngIf="displaySectionEtudiant">

        <!-- Numéro de l'étudiant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserNumEtudiant':'editUserNumEtudiant'">Numéro</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserNumEtudiant':'editUserNumEtudiant'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="numEtudiant"
                    placeholder="{{ viewUser ? 'undefined' : 'Numéro Étudiant' }}"
                    [readonly]="viewUser"
                    formControlName="numeroEtudiant">
        </div>

        <!-- Promotion de l'étudiant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserPromotion':'editUserPromotion'">Promotion</label>
            <div *ngIf="viewUser" class="form-select-plaintext">
                <span class="badge badge-secondary">{{ user?.promotion }}</span>
            </div>
            <select [id]="addUser ? 'addUserPromotion':'editUserPromotion'"
                    *ngIf="!(viewUser)"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                    name="promotionEtudiant"
                    formControlName="promotion">
                <option value="" disabled selected>Selectionner la promotion</option>
                <option *ngFor="let i of promotions.reverse()" [ngValue]="i">{{ i }}</option>
            </select>
        </div>

        <!-- Parcours de l'étudiant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserParcours':'editUserParcours'">Parcours</label>
            <div *ngIf="viewUser" class="form-select-plaintext">
                <!-- ?. car on est pas sur qu'il soit défini -->
                <span class="badge badge-secondary">{{ user?.parcours?.acronyme }}</span> 
            </div>
            <select [id]="addUser ? 'addUserParcours':'editUserParcours'"
                    *ngIf="!(viewUser)"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                    name="parcoursEtudiant"
                    formControlName="parcours">
                <option value="" disabled selected>Selectionner le parcours</option>
                <option *ngFor="let parcours of allParcours" [ngValue]="parcours?._id">{{ parcours.acronyme }}</option>
            </select>
        </div>
        
    </fieldset>

    <!-- Section représentant d'entreprise -->
    <fieldset *ngIf="displaySectionEntreprise">

        <!-- Entreprise du représentant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserEntreprise':'editUserEntreprise'">Nom</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserEntreprise':'editUserEntreprise'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="fonction"
                    placeholder="{{ viewUser ? 'undefined' : 'Nom de l\'entreprise' }}"
                    [readonly]="viewUser"
                    formControlName="entreprise">
        </div>

        <datalist id="entreprise-list">
            <option>IBM</option>
            <option>Cap Gemini</option>
            <option>Ubisoft</option>
        </datalist>
        <!-- Fonction du représentant -->
        <div class="form-group-row">
            <label [for]="addUser ? 'addUserFonction':'editUserFonction'">Fonction</label>
            <input  type="text" 
                    [id]="addUser ? 'addUserFonction':'editUserFonction'"
                    [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                    name="fonction"
                    placeholder="{{ viewUser ? 'undefined' : 'Fonction occupée dans l\'entreprise' }}"
                    [readonly]="viewUser"
                    formControlName="fonction">
        </div>

    </fieldset>

    <!--------------------------------->
    <!-- Si Modification Utilisateur -->
    <!--------------------------------->

    <!-- On place le bouton click car sinon on ne peut pas executer la fonction car le data-dismiss apparait avant-->
    <button *ngIf="editUser" 
            type="submit" 
            (click)="onSubmitForm()" 
            data-dismiss="modal" 
            class="btn btn-primary btn-sm btn-modifier" 
            [disabled]="userForm.pristine">
        Modifier
    </button>

    <!-- Si Ajouter un Parcours -->
    <button *ngIf="addUser"
            type="submit" 
            (click)="onSubmitForm()"
            data-dismiss="modal"
            class="btn btn-primary btn-sm btn-ajouter"
            [disabled]="userForm.invalid">
        Ajouter
    </button>

</form>

<!-- Debut du Modal suppression utilisateur -->
<app-modal  class="modal fade"
            tabindex="-1"
            role="dialog"
            id="suppression-user"
            title="Suppression Utilisateur">
            <p>Confirmer la suppression de l'utilisateur.</p>
</app-modal>
