<form [formGroup]="parcoursForm" (ngSubmit)="onSubmitForm()">
    <!-- Nom du parcours -->
    <div class="form-group-row">
        <label [for]="addParcours ? 'addInputAcronyme':'editInputAcronyme'">Acronyme</label>
        <input  type="text" 
                [id]="addParcours ? 'addInputAcronyme':'editInputAcronyme'"  
                class="form-control"
                placeholder="Acronyme du parcours" 
                name="parcoursAcronyme"
                formControlName="acronyme">
    </div>
    <!-- Niveau du parcours -->
    <div class="form-group-row">
        <label [for]="addParcours ? 'addInputNiveau':'editInputNiveau'">Niveau</label>
        <select [id]="addParcours ? 'addInputNiveau':'editInputNiveau'"
                class="form-control" 
                name="niveau"
                formControlName="niveau">
            <option value="" disabled selected>Selectionner le niveau</option>
            <option value="L3">L3</option>
            <option value="M1">M1</option>
            <option value="M2">M2</option>
        </select>
    </div>
    <!-- Intitulé du parcours -->
    <div class="form-group-row">
        <label [for]="addParcours ? 'addInputIntitule':'editInputIntitule'">Intitule</label>
        <input  type="text" 
                [id]="addParcours ? 'addInputIntitule':'editInputIntitule'" 
                class="form-control"
                placeholder="Intitule du parcours" 
                name="parcoursIntitule"
                formControlName="intitule">
    </div>
    <!-- Description du parcours -->
    <div class="form-group-row">
        <label [for]="addParcours ? 'addInputDescription':'editInputDescription'">Description</label>
        <textarea   [id]="addParcours ? 'addInputDescription':'editInputDescription'"
                    class="form-control"  
                    placeholder="Description du parcours"
                    rows="3"
                    name="parcoursDescription"
                    formControlName="description"></textarea>
    </div>

    <!-- Responsable du parcours -->
    <div class="form-group-row">
        <label [for]="addParcours ? 'addInputResponsable':'editInputResponsable'">Responsable</label>
        <select [id]="addParcours ? 'addInputResponsable':'editInputResponsable'"
                class="form-control" 
                name="responsable"
                formControlName="responsable">
            <option value="" disabled selected>Selectionner le responsable</option>
            <option value="1837290189">Pierre Pompidor</option>
            <option value="18372901897892">Eric Burreau</option>
        </select>
    </div>

    <!-- Si Modification Parcours -->
    <!-- On place le bouton click car sinon on ne peut pas executer la fonction car le data-dismiss apparait avant-->
    <button *ngIf="editParcours" 
            type="submit" 
            (click)="onSubmitForm()" 
            data-dismiss="modal" 
            class="btn btn-primary btn-sm btn-modifier" 
            [disabled]="parcoursForm.pristine">
        Modifier
    </button>
    <!-- Si Ajouter un Parcours -->
    <button *ngIf="addParcours"
            type="submit" 
            (click)="onSubmitForm()"
            data-dismiss="modal"
            class="btn btn-primary btn-sm btn-ajouter"
            [disabled]="parcoursForm.invalid">
        Ajouter
    </button>
</form>
