<h1>Besoin d'aide ? Contactez nous !</h1>

<div class="all-card">
    <app-card id="contact-section">
        <!-- Modifier l'email de contact  -->

        <div *ngIf="canEditEmail()" class="update-contact">
            <form [formGroup]="emailForm" (ngSubmit)="updateContact()">
                <div class="form-group">
                    <label for="inputMessage">Email de contact : </label>
                    <span id="updateEmailForm">
                        <input id="inputEmail" class="form-control" type="email" formControlName="email" placeholder="contact@email.com">
                        <button type="submit" id="buttonUpdateEmail" [disabled]="emailForm.invalid" class="btn btn-primary btn-sm">Mettre à jour</button>

                    </span>
                    </div>

            </form>
            <br>
        </div>


        <!-- Envoyer un message  -->
        <div class="send-message">
            <form [formGroup]="contactForm" (ngSubmit)="envoyerMessage()">
                <div class="form-group">
                    <label for="inputMessage">Nous contacter : </label>
                    <textarea   id="inputMessage"
                                class="form-control"
                                rows="3"
                                placeholder="Message..."
                                formControlName="message"></textarea>
                </div>
                <button type="submit" [disabled]="contactForm.invalid"  class="btn btn-primary btn-sm">
                    {{ canEditEmail() ? "Tester l\'envoi" : "Envoyer" }}
                </button>

            </form>
          <div *ngIf="alert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            Message envoyé !!
          </div>
        </div>
    </app-card>
</div>
