<h1>Besoin d'aide ? Contactez nous !</h1>

<div class="all-card">
    <app-card id="contact-section">
        <!-- Modifier l'email de contact  -->
        
        <div *ngIf="canEditEmail()" class="update-contact">
            <form [formGroup]="emailForm" (ngSubmit)="updateContact()">
                <div class="form-group">
                    <label for="inputMessage">Contact : </label>
                    <span id="updateEmailForm">
                        <input id="inputEmail" class="form-control" type="email" formControlName="email" placeholder="contact@email.com">
                        <button type="submit" id="buttonUpdateEmail" [disabled]="emailForm.pristine" class="btn btn-primary btn-sm">Mettre à jour</button>
                    
                    </span>
                    </div>
                
            </form>
        </div>


        <!-- Envoyer un message  -->
        <div class="send-message">
            <form [formGroup]="contactForm" (ngSubmit)="envoyerMessage()">
                <div class="form-group">
                    <label for="inputMessage">Contacter  : </label>
                    <textarea   id="inputMessage"
                                class="form-control"
                                rows="3"
                                placeholder="Message..."
                                formControlName="message"></textarea>
                </div>
                <button type="submit" [disabled]="contactForm.invalid"  class="btn btn-primary btn-sm">
                    {{ canEditEmail() ? "Tester l\'envoi" : "Envoyer" }}
                </button>
                
            </form>
        </div>    
    </app-card>
</div>
