<p><a routerLink=".."><i class="fas fa-chevron-left"></i> Retour</a></p>
<br/>
<h1>Ajouter un utilisateur </h1>


<div class="all-card-profile">
    <div id="info-user" class="card">
        <div class="card-body">
            <form>
                <!-- Section information profile-->
                <fieldset>
                    <!-- Nom de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputLastname">Nom</label>
                        <input type="email" id="inputLastname" class="form-control" placeholder="Nom de l'utilisateur">
                    </div>
                    <!-- Prénom de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputFistname">Prénom</label>
                        <input type="text" id="inputFistname" class="form-control" placeholder="Prénom de l'utilisateur">
                    </div>
                    <!-- Role de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputRole">Role</label>
                        <select  id="inputRole" class="form-control">
                            <option>Administrateur</option>
                            <option>Secretaire</option>
                            <option>Etudiant</option>
                            <option>Tuteur</option>
                            <option selected>Invite</option>
                        </select>
                    </div>
                </fieldset>

                <!-- Section email/password de l'utilisateur -->
                <fieldset>
                    <!-- Email de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputEmail">Email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email">
                    </div>
                    <!-- Password de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe">
                    </div>
                </fieldset>

                <!-- Section coordonnées de l'utilisateur -->
                <fieldset>
                    <!-- Fax de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputFax">Fax</label>
                        <input type="text" id="inputFax" class="form-control" placeholder="Numéro de fax">
                    </div>
                    <!-- Phone de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputPhone">Téléphone</label>
                        <input type="text" id="inputPhone" class="form-control" placeholder="Numéro de téléphone">
                    </div>
                </fieldset>

                <!-- Section informations Etudiant de l'utilisateur -->
                <fieldset>
                    <!-- Numéro étudiant de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputNumEtudiant">N° Étudiant</label>
                        <input type="text" id="inputNumEtudiant" class="form-control" placeholder="Numéro étudiant">
                    </div>
                    <!-- année de la promotion de l'étudiant -->
                    <div class="form-group-row">
                        <label for="inputPromotion">Promotion</label>
                        <select  id="inputPromotion" class="form-control">
                            <option selected="">2020/2021</option>
                            <option>2019/2020</option>
                            <option>2018/2019</option>
                            <option>2017/2018</option>
                            <option>2016/2017</option>
                        </select>
                    </div>
                    <!--  nom du parcours de l'étudiant -->
                    <div class="form-group-row">
                        <label for="inputParcours">Parcours</label>
                        <select  id="inputParcours" class="form-control">
                            <option>M2 Aigle</option>
                            <option>M2 MIT</option>
                            <option>M2 Decol</option>
                            <option>M2 Imagina</option>
                        </select>
                    </div>
                </fieldset>

                <!-- Section représentant d'entreprise -->
                <fieldset>
                    <!-- Fonction occupée de l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputFonction">Fonction</label>
                        <input type="text" id="inputFonction" class="form-control" placeholder="Fonction occupée">
                    </div>
                    <!-- Entreprise dans laquel est l'utilisateur -->
                    <div class="form-group-row">
                        <label for="inputEntreprise">Entreprise</label>
                        <input  type="text" 
                                class="form-control"
                                id="inputEntreprise"
                                name="entreprises" 
                                list="entreprise-list" 
                                placeholder="Nom de l'entreprise">
                                
                        <datalist id="entreprise-list">
                            <option>IBM</option>
                            <option>Cap Gemini</option>
                            <option>Ubisoft</option>
                        </datalist>
                    </div>
                </fieldset>   
                <button routerLink="/liste-utilisateurs" type="submit" class="btn btn-primary btn-sm">Ajouter</button>
            </form>
        </div>
    </div>
</div>

