<div id="profile" >

    <h1>Mon profile</h1>
    <div class="card">
        <div class="card-body">
            <form class="form-row">
                <div class="form-group col-md-6">
                    <label for="Firstname">Nom</label>
                    <input type="text" readonly class="form-control" id="Firstname" value="Antoine">
                </div>
                <div class="form-group col-md-6">
                    <label for="Lastname">Prénom</label>
                    <input type="text" readonly class="form-control" id="Lastname" value="Barbier">
                </div>
                <div class="form-group col-md-6">
                    <label for="Email" class=" col-form-label">Email</label>
                    <input type="text" readonly class="form-control" id="Email" value="email@example.com">
                </div>
                <div class="form-group col-md-6">
                    <label for="Phone" class=" col-form-label">Telephone</label>
                    <input type="text" readonly class="form-control" id="Phone" value="06 ** ** ** **">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="Fax" class=" col-form-label">Fax</label>
                    <input type="text" readonly class="form-control" id="Fax" value="02 ** ** ** **">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="Role" class=" col-form-label">Role</label>
                    <input type="text" readonly class="form-control" id="Role" value="Administrateur">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="numEtudiant" class=" col-form-label">Numéro Étudiant</label>
                    <input type="text" readonly class="form-control" id="numEtudiant" value="67897665">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="promotion" class=" col-form-label">Promotion</label>
                    <input type="text" readonly class="form-control" id="promotion" value="2017/2018">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="parcours" class=" col-form-label">Parcours</label>
                    <input type="text" readonly class="form-control" id="parcours" value="M2 Aigle">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="fonctionOccupee" class=" col-form-label">Fonction : </label>
                    <input type="text" readonly class="form-control" id="fonctionOccupee" value="DRH d'eponia">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="fonctionOccupee" class=" col-form-label">Fonction : </label>
                    <input type="text" readonly class="form-control" id="fonctionOccupee" value="DRH d'eponia">
                </div>
    
    
                
              </form>

              <table class="table table-sm my-2">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Angelica Ramos</td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>The Wiz</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>angelica@ramos.com</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>+1234123123123</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><span class="badge badge-success">Active</span></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>