<div class="card">
    <div class="card-header">
        <h2 class="card-title"> {{ title }} 
            <button routerLink="/liste-entreprises/import-entreprise" type="submit" style="float:right;margin-left:5px; " class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-file-import"></i>
                importer
            </button> 
            <button routerLink="/liste-entreprises/add-entreprise" type="submit" style="float:right;" class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-plus"></i>
                Ajouter
            </button> 
        </h2>
    </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Ville</th>
                <th scope="col">Responsable</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a routerLink="/liste-entreprises/entreprise">IBM</a></td>
                    <td>Montpellier</td>
                    <td>André Fernand</td>
                    <td class="table-action">
                        <a routerLink="/liste-entreprises/edit-entreprise"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-entreprise"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a routerLink="/liste-entreprises/entreprise">IBM</a></td>
                    <td>Montpellier</td>
                    <td>André Fernand</td>
                    <td class="table-action">
                        <a routerLink="/liste-entreprises/edit-entreprise"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-entreprise"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a routerLink="/liste-entreprises/entreprise">IBM</a></td>
                    <td>Montpellier</td>
                    <td>André Fernand</td>
                    <td class="table-action">
                        <a routerLink="/liste-entreprises/edit-entreprise"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-entreprise"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a routerLink="/liste-entreprises/entreprise">IBM</a></td>
                    <td>Montpellier</td>
                    <td>André Fernand</td>
                    <td class="table-action">
                        <a routerLink="/liste-entreprises/edit-entreprise"><i class="icon far fa-lg fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#suppression-entreprise"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
