<h1>{{ title }}</h1>
<app-list-filter [commonProperties]="commonProperties"></app-list-filter>

<div class="card">
    <div class="card-header">
        <h2 class="card-title"> {{ title }} 
            <button routerLink="/liste-entreprises/import-entreprise" type="submit" style="float:right;margin-left:5px; " class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-file-import"></i>
                importer
            </button> 
    
            <app-button-add link="/liste-entreprises/add-entreprise" style="float:right;"></app-button-add>
        </h2>
        <app-list-entries-number [commonProperties]="commonProperties"></app-list-entries-number>
    </div>
        <table class="card-table table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Ville</th>
                <th scope="col">Responsable</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entreprise of getItems()">
                    <td>{{ entreprise._id }}</td>
                    <td><a [routerLink]="['/liste-entreprises/info', entreprise._id]">{{ entreprise.nom }}</a></td>
                    <td>Ville</td>
                    <td>Responsable</td>
                    <td class="table-action">
                        <a [routerLink]="['/liste-entreprises/edit-entreprise', entreprise._id]"><i class="icon far fa-lg fa-edit"></i></a>
                        <a (click)="entrepriseSelected(entreprise._id)" data-toggle="modal" data-target="#suppression-entreprise"><i class="icon far fa-lg fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-list-pagination [commonProperties]="commonProperties"></app-list-pagination>
</div>


<!-- Debut du Modal suppression entreprise -->
<app-modal  class="modal fade"
            tabindex="-1" 
            role="dialog" 
            id="suppression-entreprise"
            title="Suppression Entreprise">
    <p content>Confirmer la suppression de l'entreprise.</p>
    <button button1 type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
    <button button2 (click)="deleteEntreprise()" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Supprimer</button>
</app-modal>