<h1>{{ title }}</h1>
<app-card-filter [commonProperties]="commonProperties"></app-card-filter>

<app-card-table>
    <!-- component select pour le nombre de ligne à afficher sur une page dans le tableau-->
    <app-nbItems entries [commonProperties]="commonProperties"></app-nbItems>

    <!-- Bouton ajouter => ouvre un modal avec le formulaire d'ajout -->
    <app-button-add button1 data-toggle="modal" data-target="#ajouter"></app-button-add>
    
    <div content>
        <table class="card-table table table-striped table-sm">
            <thead>
                <tr>
                    <th (click)="sortByAscendingDescendingOrder(0)" scope="col">Entreprise</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entreprise of getItems()">
                    <td><a [routerLink]="['/liste-entreprises', entreprise._id]">{{ entreprise.nom }}</a></td>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.nom }}</td>
                    <td class="table-action">
                        <!-- Bouton edit => ouvre un modal avec le formulaire de modification -->
                        <app-button-edit data-toggle="modal" (click)="selectedItem(entreprise)" data-target="#modifier"></app-button-edit>
                        <!-- Bouton delete => ouvre un modal avec la demande de suppression -->
                        <app-button-delete data-toggle="modal" (click)="selectedItem(entreprise)" data-target="#suppression"></app-button-delete>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <app-pagination [commonProperties]="commonProperties"></app-pagination>
    </div>    
</app-card-table>

<!---------------------------------------------------->
<!-------------------- LES MODALS -------------------->
<!---------------------------------------------------->


<!-- Modal avec le formulaire de modification de l'objet selectionné -->
<app-modal class="modal fade"
        tabindex="-1" 
        role="dialog" 
        id="modifier">
    <span title>Modifier l'entreprise : nom entreprise</span>
</app-modal>

<!-- Modal pour supprimer l'objet selectionné -->
<app-modal class="modal fade"
        tabindex="-1" 
        role="dialog" 
        id="suppression">
    <span title> Supprimer l'entreprise </span>
    <p content>Confirmer la suppression de l'entreprise : <strong> nom entreprise</strong></p>
    <button button1 type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
    <button button2 (click)="deleteEntreprise(selectItem._id)" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Supprimer</button>
</app-modal>

<!-- Modal pour Ajouter un item (formulaire d'ajout) -->
<app-modal class="modal fade"
        tabindex="-1" 
        role="dialog" 
        id="ajouter">
        <span title>Ajouter une entreprise</span>
        
</app-modal>
