<form>
    <h1>{{ title }}</h1>

    <fieldset [formGroup]="ficheAppreciationForm" (ngSubmit)="onSubmitForm()">
        <!-- Nom étudiant -->
        <div class="form-group-row">
            <label>Étudiant :</label>
            <input type="text" />
        </div>
        <!-- Service -->
        <div class="form-group-row">
            <label>Au service :</label>
            <input type="text" />
        </div>
        <!-- Nom entreprise -->
        <div class="form-group-row">
            <label>Nom entreprise :</label>
            <input type="text" />
        </div>
        <!-- Adresse entreprise -->
        <div class="form-group-row">
            <label>Adresse entreprise :</label>
            <input type="text" />
        </div>
        <!-- Adresse email -->
        <div class="form-group-row">
            <label>Adresse email :</label>
            <input type="text" />
        </div>
        <!-- Téléphone -->
        <div class="form-group-row">
            <label>Téléphone :</label>
            <input type="text" />
        </div>
        <!-- Appréciation -->
        <div class="form-group">
            <label>Appréciation :</label>
            <textarea 
                rows="3"
                placeholder="Appréciations littérales et globales sur le stage et le stagiaire">
            </textarea>
        </div>
    </fieldset>

    <p>Il faudra ajouter bcp d'autres champs...</p>
</form>

