.error-page{
    text-align: center;
    h1{
        font-size: 6rem;
        margin-bottom:0!important;
    }
    h2{
        font-size: 2rem; 
    }
    p{
        padding:1rem;
    }

    a{
        font-size:0.9rem;
    }
    

}