<div class="card">
    <div *ngIf="title" class="card-header">
        <h2 class="card-title">
            {{ title }} 
            <a *ngIf="viewUser"
            routerLink="/liste-utilisateurs/edit-user" 
            type="submit" 
            style="float:right;" 
            class="btn-icon-modif">
                <i class="icon far fa-lg fa-edit"></i>
            </a>
        </h2>
    </div>
    <div class="card-body">
        <form>
            <!-- Section information profile-->
            <fieldset>
                <!-- Nom de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputLastname">Nom</label>
                    <input  type="text" 
                            id="inputLastname"  
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                            placeholder="Nom de l'utilisateur" 
                            [(ngModel)]="user.nom"
                            name="nom"
                            [readonly]="viewUser">
                </div>
                <!-- Prénom de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputFistname">Prénom</label>
                    <input  type="text" 
                            id="inputFistname" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Prénom de l'utilisateur"
                            [(ngModel)]="user.prenom"
                            name="prenom"
                            [readonly]="viewUser">
                </div>
                <!-- Role de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputRole">Role</label>
                    <div *ngIf="viewUser" class="form-select-plaintext">
                        <span class="badge badge-secondary">{{ user.role }}</span>
                    </div>
                    <select *ngIf="!(viewUser)" id="inputRole" [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" [(ngModel)]="user.role" name="role" (ngModelChange)="displaySection(user.role)">
                        <option *ngFor="let i of roles" [ngValue]="i">{{ i }}</option>
                    </select>
                </div>
            </fieldset>
            <hr *ngIf="viewUser">

            <!-- Section email/password de l'utilisateur -->
            <fieldset>
                <!-- Email de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputEmail">Email</label>
                    <input  type="email" 
                            id="inputEmail" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Email"
                            [(ngModel)]="user.email"
                            name="email"
                            [readonly]="viewUser">
                </div>
                <!-- Password de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputPassword">Password</label>
                    <input  type="password" 
                            id="inputPassword" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Mot de passe"
                            [(ngModel)]="user.hash"
                            name="password"
                            [readonly]="viewUser">
                </div>
            </fieldset>
            <hr *ngIf="viewUser">

            <!-- Section informations Etudiant de l'utilisateur -->
            <fieldset *ngIf="displaySectionEtudiant">
                <!-- Numéro étudiant de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputNumEtudiant">N° Étudiant</label>
                    <input  type="text" 
                            id="inputNumEtudiant" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Numéro étudiant"
                            [(ngModel)]="user.numeroEtudiant"
                            name="numeroEtudiant"
                            [readonly]="viewUser">
                </div>
                <!-- année de la promotion de l'étudiant -->
                <div class="form-group-row">
                    <label for="inputPromotion">Promotion</label>
                    <div *ngIf="viewUser" class="form-select-plaintext">
                        <span>{{ user.promotion }}</span>
                    </div>
                    <select *ngIf="!(viewUser)" id="inputPromotion" [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" [(ngModel)]="user.promotion" name="promotion" >
                        <option *ngFor="let i of promotions" [ngValue]="i">{{ i }}</option>
                    </select>
                </div>
                <!--  nom du parcours de l'étudiant -->
                <div class="form-group-row">
                    <label for="inputParcours">Parcours</label>
                    <div *ngIf="viewUser" class="form-select-plaintext">
                        <span>{{ user.parcours }}</span>
                    </div>
                    <select *ngIf="!(viewUser)" id="inputParcours" [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" [(ngModel)]="user.parcours" name="parcours">
                        <option *ngFor="let i of parcours" [ngValue]="i">{{ i }}</option>
                    </select>
                </div>
            </fieldset>
            <hr *ngIf="viewUser">

            <!-- Section coordonnées de l'utilisateur -->
            <fieldset *ngIf="displaySectionCoordonnees">
                <!-- Fax de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputFax">Fax</label>
                    <input  type="text" 
                            id="inputFax" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Numéro de fax"
                            [(ngModel)]="user.fax"
                            name="fax"
                            [readonly]="viewUser">
                </div>
                <!-- Phone de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputPhone">Téléphone</label>
                    <input  type="text" 
                            id="inputPhone" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Numéro de téléphone"
                            [(ngModel)]="user.telephone"
                            name="telephone"
                            [readonly]="viewUser">
                </div>
            </fieldset>
            <hr *ngIf="viewUser">

            <!-- Section représentant d'entreprise -->
            <fieldset *ngIf="displaySectionEntreprise">
                <!-- Fonction occupée de l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputFonction">Fonction</label>
                    <input  type="text" 
                            id="inputFonction" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'" 
                            placeholder="Fonction occupée"
                            [(ngModel)]="user.fonction"
                            name="fonction"
                            [readonly]="viewUser">
                </div>
                <!-- Entreprise dans laquel est l'utilisateur -->
                <div class="form-group-row">
                    <label for="inputEntreprise">Entreprise</label>
                    <input  type="text" 
                            [ngClass]="viewUser? 'form-control-plaintext' : 'form-control'"
                            id="inputEntreprise"
                            name="entreprises" 
                            list="entreprise-list"
                            placeholder="Nom de l'entreprise"
                            [(ngModel)]="user.entreprise"
                            name="entreprise"
                            [readonly]="viewUser">
                            
                    <datalist id="entreprise-list">
                        <option>IBM</option>
                        <option>Cap Gemini</option>
                        <option>Ubisoft</option>
                    </datalist>
                </div>
            </fieldset>   

            <!-- Si Ajout Utilisateur-->
            <div *ngIf="addUser">
                <button routerLink="/liste-utilisateurs" type="submit" class="btn btn-primary btn-sm">Ajouter</button>
            </div>
            

            <!-- Si Modification Utilisateur -->
            <div *ngIf="editUser">
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#suppression-user">
                    Supprimer
                </a>
                <button routerLink="/liste-utilisateurs" type="submit" class="btn btn-primary btn-sm btn-modifier">
                    Modifier
                </button>
            </div>
            
        </form>
        
    </div>
</div>

<!-- Debut du Modal suppression utilisateur -->
<div class="modal fade" id="suppression-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Suppression Utilisateur</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Confirmer la suppression de l'utilisateur.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
        <button routerLink="/liste-utilisateurs" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Supprimer</button>
        </div>
    </div>
    </div>
</div>