<ul class="nav-progress" *ngIf="false">
    <li [ngClass]="'fieldset-active progress-first'">
        <i class=""></i>
        Stage proposé
    </li>
    <li [ngClass]="'fieldset-active progress-second' ">
        <i class=""></i>
        Stage validé

    </li>
    <li [ngClass]="'fieldset-active progress-second' ">
        <i class=""></i>

        Affecté à un étudiant
    </li>
    <li>
        <i class=""></i>
        Associé à un tuteur
    </li>

    <li >
        <i class=""></i>
        Associé à un rapporteur
    </li>

    <li >
        <i class=""></i>
        Stage Terminé
    </li>
</ul>

<div *ngIf="false" style="margin-bottom:10px;">
    <button class="btn btn-primary btn-sm" (click)="changerEtat('propose')">Proposer</button>
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('refuse')">Refuser</button>
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('valide')">Valider</button>
    
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('reserve')">Réserver</button>
    
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('affectEtudiant')">Etudiant affecté</button>
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('affectTuteur')">Tuteur affecté</button>
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('affectRapporteur')">Rapporteur affecté</button>
    
    <button class="btn btn-primary btn-sm" style="margin:5px;" (click)="changerEtat('termine')">terminer</button>
    
</div>

<div class="admin-change-state" *ngIf="!(getState() == 'propose')">
    <button *ngIf="(getViewRole() =='admin') && (getRole() == 'admin')"
    class="btn btn-outline-danger btn-sm" 
    style="margin:5px;"
    (click)="etatPrecedent()">Annuler le dernier changement d'état</button>
    
    <button *ngIf="getState() == 'affectRapporteur' && (getViewRole() =='admin') && (getRole() == 'admin')"
    class="btn btn-outline-secondary btn-sm" 
    style="margin:5px;"
    (click)="changerEtat('termine')">Terminer</button>
</div>

<p>
    <strong>État du stage : </strong>  <app-state-badge [state]="stage?.etat"></app-state-badge><br>
    <span class="date-change-etat">
        Proposé par 
        <a [routerLink]="['/liste-utilisateurs/user', stage?.ajouteur?._id]">{{ stage?.ajouteur?.nom + ' ' + stage?.ajouteur?.prenom }}</a> 
        le <span class="date">{{ stage?.datePropose | date:'fullDate':'+0200':'fr' }}</span>
    </span><br>
    <span *ngIf="stage?.dateValide" class="date-change-etat">
        Validé le <span class="date">{{ stage?.dateValide | date:'fullDate':'+0200':'fr' }}</span>
    </span><br>
    <span *ngIf="stage?.etudiant?._id" class="nom-etudiant-affecté">
        Affecté à l'étudiant : <a [routerLink]="['/liste-utilisateurs/user', stage?.etudiant?._id]">{{ stage?.etudiant?.nom + ' ' + stage?.etudiant?.prenom }}</a>
    </span>
</p>





<!-- Première étape du processus de gestion des états d'un stage-->
<!-- On choisit de valider le stage ou de le refuser. -->
<!-- Un stage valide pourra être vu par tous le monde, alors qu'un stage proposé sera seulement vu par l'admin, le responsable stage -->
<div class="alert alert-propose" *ngIf="(getState() == 'propose') && (getViewRole() =='admin')">
    <p><strong>Validation du stage :</strong><br>
        Cliquez sur Valider pour valider le stage et pour qu'il soit visible par les étudiants.<br>
        Cliquez sur Supprimer pour refuser le stage et le supprimer de la base de données.
    </p>
        <button class="btn btn-danger btn-sm" style="margin:5px;" (click)="changerEtat('refuse')">Refuser</button>
        <button class="btn btn-warning btn-sm" style="margin:5px;" (click)="changerEtat('valide')">Valider</button>
</div>

<div class="alert alert-refuse" *ngIf="getState() == 'refuse'">
    <p>
        <strong>Le stage a été refusé.</strong> 
    </p>
</div>

<div class="alert alert-valide" *ngIf="getState() == 'valide' && ((getViewRole() =='etudiant') && (getRole() == 'admin')) || (getRole() == 'etudiant')">
    <p><strong>Pour postuler à ce stage, veuillez contacter l'entreprise.</strong><br>
        Après l'accord de l'entreprise, veuillez signaler l'obtention de votre stage au responsable des stages.</p>
        <button class="btn btn btn-sm btn-success btn-sm" >Contacter l'entreprise</button>
        <button class="btn btn btn-sm btn-outline-success btn-sm" style="margin:5px;">Contacter le responsable</button>
</div>

<!-- Deuxième étape -->
<!-- Apprès la validation, si l'ajouteur est un étudiant il est automatiquement reservé pour lui -->
<!-- Cependant, l'étudiant peut rendre le stage en non reservé si il souhaite le laisser pour un autre étudiant -->
<div class="alert alert-reserve" *ngIf="(getState() == 'reserve') && ((getViewRole() =='etudiant') && (getRole() == 'admin')) || (getRole() == 'etudiant')">
    <p>Ce stage est déjà <strong>réservé</strong> à un étudiant. 
    </p>
</div>

<div class="alert alert-reserve" *ngIf="(getState() == 'reserve') && ((getViewRole() =='etudiant') && (getRole() == 'admin')) || (getRole() == 'etudiant')">
    <p><strong></strong>
        <button class="btn btn btn-sm btn-outline-danger btn-sm"  (click)="changerEtat('valide')">Rendre ce stage disponible pour tous les étudiants</button>
    </p>
</div>

<div class="alert alert-valide" *ngIf="(getState() == 'valide') && ((getViewRole() =='repEntreprise') && (getRole() == 'admin')) || (getRole() == 'repEntreprise')">
    <form (ngSubmit)="onSubmitReserve(f)" #f="ngForm">
        <p><strong>Selectionner un étudiant pour ce stage :</strong>
            <select  id="inputEtudiantAffectation"  
                    class="form-control"
                    name="selectEtudiant" ngModel required>
                <option value="" disabled selected>Selectionner un étudiant</option>
                <option *ngFor="let etudiant of allEtudiant" [ngValue]="etudiant?._id">{{ etudiant?.nom + ' ' + etudiant?.prenom }}</option>     
            </select>
    
            <button type="submit" class="btn btn btn-sm btn-success btn-sm"  [disabled]="f.invalid">Reservé le stage</button>
        </p>
    </form>
</div>

<!-- Troisième étape -->
<!-- Le stage peut être affecté à un étudiant-->
<div class="alert alert-valide" *ngIf="getState() == ('valide' || 'reserve') && ( ((getViewRole() =='respParcours') && (getRole() == 'admin')) || (getViewRole() =='admin' && getRole() == 'admin') || (getRole() == 'respParcours'))">
    <p><strong>Selectionner un étudiant pour ce stage :</strong><br>
    </p>
    <form (ngSubmit)="onSubmitAffectEtudiant(f)" #f="ngForm">
        <div class="form-group-row">
            <select  id="inputEtudiantAffectation2"  
                    class="form-control"
                    name="selectEtudiant" ngModel required>
                <option value="" disabled selected>Selectionner un étudiant</option>
                <option *ngFor="let etudiant of allEtudiant" [ngValue]="etudiant?._id">{{ etudiant?.nom + ' ' + etudiant?.prenom }}</option>     
            </select>
            <button type="submit" class="btn btn-success btn-sm" [disabled]="f.invalid">Affecté l'étudiant</button>
        </div>
    </form>
</div>

<!-- Quatrième étape -->
<!-- Un enseignant peut choisir de devenir le tuteur du stage -->
<div class="alert alert-affectEtudiant" *ngIf="((getState() == 'affectEtudiant') || (getState() == 'reserve')) && ((getViewRole() =='tuteur') && (getRole() == 'admin')) || (getRole() == 'tuteur')">
    <p><strong></strong>
        <button class="btn btn-sm btn-outline-primary" style="margin:5px;" (click)="changerEtat('affectTuteur')">Devenir le tuteur de ce stage</button>
    </p>
</div>
<div class="alert alert-affectEtudiant" *ngIf="getState() == 'affectEtudiant' && ((getViewRole() =='etudiant') && (getRole() == 'admin')) || (getRole() == 'etudiant')">
    <p><strong>Information : </strong> Un étudiant à déja été affecté pour ce stage.</p>
</div>
<!-- Ou bien l'administrateur ou le responsable de stage peut affecté un tuteur -->
<div class="alert alert-affectEtudiant" *ngIf="((getState() == 'affectEtudiant') || (getState() == 'reserve')) && (getViewRole() =='admin')">
    <p><strong>Affecter un tuteur</strong><br>
    </p>
    <form (ngSubmit)="onSubmitAffectTuteur(f)" #f="ngForm">
        <div class="form-group-row">
            <select  id="inputTuteurAffectation"  
                    class="form-control"
                    name="selectTuteur" ngModel required>
                <option value="" disabled selected>Selectionner un tuteur</option>
                <option *ngFor="let tuteur of allTuteur" [ngValue]="tuteur?._id">{{ tuteur?.nom + ' ' + tuteur?.prenom }}</option>     
            </select>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="f.invalid">Affecter le tuteur</button>
        </div>
    </form>
</div>

<!-- Cinquième étape -->
<!-- un enseignant peut choisir de devenir rapporteur du stage -->
<div class="alert alert-affectRapporteur" *ngIf="getState() == 'affectTuteur' && ((getViewRole() =='tuteur') && (getRole() == 'admin')) || (getRole() == 'tuteur')">
    <p><strong></strong>
        <button class="btn btn-sm btn-outline-primary" (click)="changerEtat('affectRapporteur')">Devenir rapporteur de ce stage</button>
    </p>
</div>
<!-- ou bien on peut afffecté un rapporteur au stage-->
<div class="alert alert-affectRapporteur" *ngIf="getState() == 'affectTuteur' && (getViewRole() == ('admin'))">
    <p><strong>Affecter un rapporteur</strong><br>
    </p>
    <form (ngSubmit)="onSubmitAffectRapporteur(f)" #f="ngForm">
        <div class="form-group-row">
            <select  id="inputRapporteurAffectation"  
                    class="form-control"
                    name="selectRapporteur" ngModel required>
                <option value="" disabled selected>Selectionner un rapporteur</option>
                <!--Pour pas que le tuteur soit aussi le rapporteur, on n'affiche pas le tuteur dans la liste des tuteurs qui peuvent être selectionné comme rapporteurs-->
                <ng-container *ngFor="let rapporteur of allTuteur" >
                    <option 
                        *ngIf="rapporteur?._id != stage.tuteur?._id"
                        [ngValue]="rapporteur?._id">{{ rapporteur?.nom + ' ' + rapporteur?.prenom }}</option>   
                </ng-container>
                  
            </select>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="f.invalid">Affecter le rapporteur</button>
        </div>
    </form>
</div>

<!-- Dernière étape -->
<!-- Le stage est terminé une fois que la soutenance est passé (c'est le serveur qui s'occupe de faire cette vérification)-->
<div class="alert alert-termine" *ngIf="getState() == 'termine'">
    <p><strong>Stage terminé :</strong> La fiche du stage a été placé dans les archives.</p>
</div>

