// les variables couleurs sont importé du fichier scss colors
@import '/src/assets/styles/colors.scss';

.admin-change-state{
    float:right;
}

.date-change-etat, .nom-etudiant-affecté{
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 300;
    .date{
        font-weight: 500;
    }
    a{
        font-size: 0.7rem;
    }
}

// couleur des alertes
.alert-propose{
    background-color: rgba($color-propose, .2);
}

.alert-valide{
    background-color: rgba($color-valide, .2);
}

.alert-refuse{
    background-color: rgba($color-refuse, .2);
}
.alert-reserve{
    background-color: rgba($color-reserve, .2);
}
.alert-affectEtudiant{
    background-color: rgba($color-affectEtudiant, .2);
}
.alert-affectTuteur{
    background-color: rgba($color-affectTuteur, .2);
}
.alert-affectRapporteur{
    background-color: rgba($color-affectRapporteur, .4);
}
.alert-termine{
    background-color: rgba($color-termine, .1);
}

//_________________________________

.btn-propose{
    color:#000;
    background-color: $color-propose;
}

.btn-valide{
    color:#fff;
    background-color: $color-valide;
}

.btn-refuse{
    color:#fff;
    background-color: $color-refuse;
}

.btn-reserve{
    color:#fff;
    background-color: $color-reserve;
}

.btn-affectEtudiant{
    color:#fff;
    background-color: $color-affectEtudiant;
}

.btn-affectTuteur{
    color:#fff;
    background-color: $color-affectTuteur;
}

.btn-affectRapporteur{
    color:#fff;
    background-color: $color-affectRapporteur;
}

.btn-termine{
    color:#fff;
    background-color: $color-termine;
}


//------------------------------------


.btn-outline-propose{
    color:$color-propose;
    border-color: $color-propose;
}

.btn-outline-valide{
    color:$color-valide;
    border-color: $color-valide;
}

.btn-outline-refuse{
    color:$color-refuse;
    border-color: $color-refuse;
}

.btn-outline-reserve{
    color:$color-reserve;
    border-color: $color-reserve;
}

.btn-outline-affectEtudiant{
    color:$color-affectEtudiant;
    border-color: $color-affectEtudiant;
}

.btn-outline-affectTuteur{
    color:$color-affectTuteur;
    border-color: $color-affectTuteur;
}

.btn-outline-affectRapporteur{
    color:$color-affectRapporteur;
    border-color: $color-affectRapporteur;
}

.btn-outline-termine{
    color:$color-termine;
    border-color: $color-termine;
}

//-----------------------------------

.btn-outline-propose:hover{
    color:#000;
    background-color: $color-propose;
}

.btn-outline-valide:hover{
    color:#fff;
    background-color: $color-valide;
}

.btn-outline-refuse:hover{
    color:#fff;
    background-color: $color-refuse;
}

.btn-outline-reserve:hover{
    color:#fff;
    background-color: $color-reserve;
}

.btn-outline-affectEtudiant:hover{
    color:#fff;
    background-color: $color-affectEtudiant;
}

.btn-outline-affectTuteur:hover{
    color:#fff;
    background-color: $color-affectTuteur;
}

.btn-outline-affectRapporteur:hover{
    color:#fff;
    background-color: $color-affectRapporteur;
}

.btn-outline-termine:hover{
    color:#fff;
    background-color: $color-termine;
}

ul{
    padding:20px 40px;
    display: flex;
    width:100%;
    justify-content: space-between;
    margin:0;
    list-style-type: none;
    z-index: 1;
    li{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    li > i{
        align-self: center;
        width:20px;
        height:20px;
        margin-bottom: 4px;
        border: 3px solid #495057;
        
        padding:5px;
        border-radius: 100%;
        z-index: 1;
    }
    .fieldset-active{
        color: #495057;
        
        i{
            color: white;
            //border: 3px solid #293042;
            background-color: #495057;
        }
    }
}

.alert{
    margin-top:15px;
    margin-bottom:0;
}


form{
    fieldset{
        margin-bottom: 10px;
    }
    .form-control-plaintext{
        outline : none;
    }
    .form-group-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label{
            min-width:200px;
            align-self:center;
            text-align: left;
            margin:0;
        }
        input, select{
            padding:3px;
        }
        .btn{
            min-width:200px;
        }
    }    
}




