<ul class="nav-progress">
    <li [ngClass]="isDone('stage')? 'fieldset-active progress-first' : '' ">
        <i class="fas fa-lg fa-bars"></i>
        Stage</li>
    
    <li [ngClass]="isDone('entreprise')? 'fieldset-active progress-second' : '' ">
        <i class="fas fa-lg fa-building"></i> 
        Entreprise
    </li>
    
    <li [ngClass]="isDone('more')? 'fieldset-active progress-third' : '' ">
        <i class="fas fa-lg fa-info"></i>
        More
    </li>
</ul>





<form [formGroup]="stageForm" (ngSubmit)="onSubmitForm()">
    <!-- Section informations du stage -->
    <fieldset *ngIf="displayFielset('stage')">
        <!-- Titre du stage -->
        <div class="form-group-row">
            <label  for="inputTitre">Titre</label>
            <input  type="text" 
                    id="inputTitre"  
                    class="form-control"
                    placeholder="Titre du stage" 
                    name="titre"
                    formControlName="titre">
        </div>
        <!-- Niveau requis du stage -->
        <div class="form-group-row">
            <label for="inputNiveau">Niveau requis</label>
            <select  id="inputNiveau" 
                    class="form-control" 
                    name="niveauRequis" 
                    formControlName="niveauRequis">
                <option value="" disabled selected>Selectionner le niveau requis</option>
                <option *ngFor="let i of niveauRequis">{{ i }}</option>
            </select>
        </div>
        <!--  Parcours recommander pour le stage -->
        <div class="form-group-row">
            <label for="inputParcours">Parcours</label>
            <select id="inputParcours" 
                    class="form-control" 
                    name="parcours"
                    formControlName="parcours">
                <option value="" disabled selected>Selectionner le parcours</option>
                <option *ngFor="let i of parcours">{{ i }}</option>
            </select>
        </div>
        <!--  Description du stage -->
        <div class="form-group-row">
            <label for="inputDescription">Description</label>
            <textarea   id="inputDescription"
                        class="form-control"  
                        placeholder="Description du stage"
                        rows="3"
                        name="description"
                        formControlName="description"></textarea>
            
        </div>
        <!-- Durée du stage -->
        <div class="form-group-row">
            <label for="inputDuree">Durée</label>
            <input  type="number" 
                    id="inputDuree" 
                    class="form-control" 
                    placeholder="Nombre de mois"
                    name="duree"
                    formControlName="duree">
        </div>

        <!-- Date début du stage -->
        <div class="form-group-row">
            <label for="inputDateDebut">Date de début</label>
            <input  type="date" 
                    id="inputDateDebut" 
                    class="form-control" 
                    name="dateDebut"
                    formControlName="dateDebut">
        </div>
    </fieldset>

     <!-- Section Entreprise -->
     <fieldset *ngIf="displayFielset('entreprise')">
        <!-- Entreprise dans laquel est l'utilisateur -->
        <div class="form-group-row">
            <label for="inputEntreprise">Entreprise</label>
            <input  type="text" 
                    class="form-control"
                    id="inputEntreprise"
                    list="entreprise-list"
                    placeholder="Nom de l'entreprise"
                    name="entreprise"
                    formControlName="entreprise">
                    
            <datalist id="entreprise-list">
                <option>IBM</option>
                <option>Cap Gemini</option>
                <option>Ubisoft</option>
            </datalist>
        </div>
    </fieldset>

    <fieldset *ngIf="displayFielset('more')">
        <!-- Compétences attendu pour le stage -->
        <div class="form-group-row">
            <label for="inputCompetences">Compétences attendu</label>
            <textarea   id="inputCompetences"
                        class="form-control"  
                        rows="2"
                        name="competences"
                        placeholder="Compétences attendu durant le stage"
                        formControlName="competences">
            </textarea>
        </div>
        <!-- Conditions du stage -->
        <div class="form-group-row">
            <label for="inputConditions">Conditions</label>
            <textarea   id="inputConditions"
                        class="form-control"  
                        rows="2"
                        name="conditions"
                        placeholder="conditions du stage"
                        formControlName="conditions"></textarea>
        </div>
        <!-- Date début du stage -->
        <div class="form-group-row">
            <label for="inputSalaire">Salaire</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="">
                <select class="custom-select">
                    <option>par mois (brut)</option>
                    <option>par heure (brut)</option>
                </select>
            </div>
        </div>
        <!-- Avantages du stage -->
        <div class="form-group-row">
            <label for="inputAvantages">Avantages</label>
            <textarea   id="inputAvantages"
                        class="form-control"  
                        rows="2"
                        name="avantages"
                        placeholder="Avantages du stage"
                        formControlName="avantages">
            </textarea>
        </div>
    </fieldset>
    
    <!-- Les boutons -->
    <div class="block-btn">
        <button *ngIf="!lastPage()" 
            type="button" id="nextButton" name="nextButton" value="Next"
            (click)="next()" 
            [disabled]="disabledNext()" 
            class="btn btn-primary btn-sm btn-next" >
            Suivant
        </button>
        <button *ngIf="lastPage()" 
                type="submit" id="addButton" name="addButton" value="Submit" 
                (click)="onSubmitForm()" 
                data-dismiss="modal"
                class="btn btn-primary btn-sm btn-done">
            Terminer
        </button>
        <button *ngIf="!firstPage()" 
            (click)="pred()" 
            class="btn btn-secondary btn-sm btn-pred" >
            Précédent
        </button>
    </div>
    
</form>