<h1>{{ title }}</h1>
<app-card-filter [commonProperties]="commonProperties"></app-card-filter>

<app-card-table>
    <!-- component select pour le nombre de ligne à afficher sur une page dans le tableau-->
    <app-list-entries-number entries [commonProperties]="commonProperties"></app-list-entries-number>

    <!-- Bouton ajouter => ouvre un modal avec le formulaire d'ajout -->
    <app-button-add-modal button1>
        <span title>Ajouter le parcours</span>
        <app-form-parcours content [addParcours]="true" (parcoursEvent)="addParcours($event)"></app-form-parcours>
    </app-button-add-modal>
    
    <div content>
        <table class="card-table table table-striped table-sm">
            <thead>
                <tr>
                    <th (click)="sortByAscendingDescendingOrder(0)" scope="col">Acronyme</th>
                    <th (click)="sortByAscendingDescendingOrder(1)" scope="col">Intitule</th>
                    <th (click)="sortByAscendingDescendingOrder(2)" scope="col">Niveau</th>
                    <th (click)="sortByAscendingDescendingOrder(3)" scope="col">Responsable</th>
                    <th (click)="sortByAscendingDescendingOrder(4)" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parcours of getItems()">
                    <!-- On rajoute le pipe uppercase pour mettre l'acronyme tout le temps en majuscule-->
                    <td>{{ parcours.acronyme | uppercase }}</td>
                    <td>{{ parcours.intitule }}</td>
                    <td>{{ parcours.niveau }}</td>
                    <td><a routerLink="/">{{ parcours.responsable }}</a></td>

                    <td class="table-action">
                        <!-- Bouton edit => ouvre un modal avec le formulaire de modification -->
                        <app-button-edit-modal [idModal]="parcours._id">
                            <span title>Modifier le parcours : {{ parcours.acronyme | uppercase }}</span>
                            <app-form-parcours content 
                                [editParcours]="true"
                                [idParcours]="parcours._id"
                                (parcoursEvent)="updateTable($event)">
                            </app-form-parcours>
                        </app-button-edit-modal>

                         <!-- Bouton delete => ouvre un modal avec la demande de suppression -->
                        <app-button-delete-modal [idModal]="parcours._id"> 
                            <span title> Supprimer le parcours </span>
                            <p content>Confirmer la suppression du parcours : <strong>{{ parcours.acronyme | uppercase }}</strong></p>
                            <button button1 type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                            <button button2 (click)="deleteParcours(parcours._id)" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Supprimer</button>
                        </app-button-delete-modal>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <app-list-pagination [commonProperties]="commonProperties"></app-list-pagination>
    </div>    
</app-card-table>
