@font-face {font-family: Silka-Regular; src: local("Silka-Regular"), url("/src/fonts/Silka/Silka-Regular.ttf") format("truetype");}
@font-face {font-family: Silka-Medium; src: local("Silka-Medium"), url("/src/fonts/Silka/Silka-Medium.ttf") format("truetype");}
@font-face {font-family: Silka-Semibold; src: local("Silka-SemiBold"), url("/src/fonts/Silka/Silka-Semibold.ttf") format("truetype");}
@font-face {font-family: Silka-Bold; src: local("Silka-Bold"), url("/src/fonts/Silka/Silka-Bold.ttf") format("truetype");}


/* All website color */

$primary: #191A1E;
$secondary: #A58861;

$error: #B00020;
$background: #191A1E;
$surface: rgb(238,240,244);
$surface-variant: #e9e9e9;

$on-background:rgb(238,240,244);
$on-surface:#191A1E;


/* width and height */

$height-header:80px;
$height-footer:30px;

$max-width-main-content:1100px;

/*Font*/

$font-regular: 'Silka-Regular'; 
$font-medium: 'Silka-Medium';
$font-semibold: 'Silka-Semibold';
$font-bold: 'Silka-Bold'; 






@function text-color($color) {
    @if (lightness($color) > 50) {
      @return $on-surface; // Lighter background, return dark color
    } @else {
      @return $on-background; // Darker background, return light color
    }
  }