// Les couleurs utilisés pour les badges, alertes, bouttons ...
$color-propose: #ffc107;
$color-valide: #28a745;
$color-refuse: #eb5a46;
$color-reserve: #c377e0;
$color-affectEtudiant: #007bff;
$color-affectTuteur: #455877;
$color-affectRapporteur: #9bafcf;
$color-termine: rgb(10, 10, 10);

$color-black: rgb(10, 10, 10);
$color-white: #fff;
