// Les couleurs utilisés pour les badges, alertes, bouttons ...
$color-yellow: #ffc107;
$color-green: #28a745;
$color-red: #eb5a46;
$color-purple: #c377e0;
$color-blue: #007bff;
$color-blue-silver: #455877;
$color-blue-livid: #9bafcf;
$color-black: rgb(10, 10, 10);

$color-black: rgb(10, 10, 10);
$color-white: #fff;
