<p><a routerLink="/liste-soutenances"><i class="fas fa-chevron-left"></i> Retour</a></p>
<br/>
<h1>{{ title }}</h1>

<div class="all-card">

    <div id="calendriers-soutenance" class="card">
        <div class="card-header" style="margin-bottom:20px;">
            <h2 class="card-title">Choisir le calendrier
                <button class="btn btn-sm btn-secondary" style="float:right;">Nouveau calendier</button>
            </h2>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Selectionner</th>
                        <th>Nom</th>
                        <th>Date création</th>
                        <th>Dernière modification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Aigle 2019/2020</td>
                        <td>04/05/19</td>
                        <td>10/05/19</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Biologie 2019/2020</td>
                        <td>04/05/19</td>
                        <td>10/05/19</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Maths 2019/2020</td>
                        <td>04/05/19</td>
                        <td>10/05/19</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="init-calendrier" class="card">
        <div class="card-header">
            <h2 class="card-title">Initialisation du calendrier</h2>
        </div>
        <div class="card-body">
            <p>Date début des soutenances</p>
            <p>Date fin des soutenances</p>
            <p>matin : De 8h à 12h</p>
            <p>Après-midi : De 14h à 18h</p>
        </div>
    </div>

    <div id="salles-calendrier" class="card">
        <div class="card-header" style="margin-bottom:20px;">
            <h2 class="card-title">
                Salles
                <button class="btn btn-sm btn-secondary" style="float:right;">Ajouter une salle</button>
            </h2>
        </div>
        <div class="card-body">
            <p>Salle 1 : TD 12.0</p>
            <p>Salle 2 : TD 13.0</p>
            <p>Salle 3 : TD 14.0</p>
            
        </div>
    </div>

    <div id="parametres-calendrier" class="card">
        <div class="card-header">
            <h2 class="card-title">Paramètres</h2>
        </div>
        <div class="card-body">
            <p>Date debut de saisie par des étudiants</p>	    
            <p>Date Fin de saisie par des étudiants	   </p> 
            <p>Date debut de saisie par des professeurs</p>
            <br>
            <p>les Couleurs des créneaux</p>
            <p>Disponible</p>	

            <p>Bloqué	</p>

            <p>Reservé	</p>

            <p>Reservé par l'étudiant</p>	

            <p>Reservé par le tuteur</p>	

            <p>Reservé par le rapporteur</p>	

            <p>En conflit avec le tuteur/rapporteur de stage</p>	

            <p>Possible d'être le rapporteur pour la soutenance(Enseignant)	</p>

            
        </div>
    </div>
    
</div>