<footer>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link " routerLink="/">Support</a>
            <a class="nav-link" routerLink="/">Help Center</a>
            <a class="nav-link" routerLink="/">Privacy</a>
            <a class="nav-link " routerLink="/" >Terms of Service</a>
          </div>
        </div>
        <div class="text-credit">
            <p class="nav-text" >
                © 2021 Université de Montpellier
            </p>
        </div>
    </nav>
</footer>
