<h1>{{ title }}</h1>
<app-card-filter [commonProperties]="commonProperties"></app-card-filter>

<div class="card">
    <div class="card-header">
        <app-nbItems [commonProperties]="commonProperties"></app-nbItems>
        <h2 class="card-title"> {{ title }} 
            <button routerLink="/configuration-calendrier-soutenances" type="submit" style="float:right;" class="btn btn-secondary btn-sm">
                <i style="margin-right:5px;" class="fas fa-tools"></i>
                Configurer le calendrier
            </button> 
        </h2>
    </div>
        <table class="card-table table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Etudiant</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Representant</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let soutenance of soutenances"> <!-- A remplacer par printItems()... -->
                    <td>{{ soutenance.date }}</td>
                    <td>{{ soutenance.heure }}</td>
                    <td>{{ soutenance.salle }}</td>
                    <td><a routerLink="/liste-soutenances/soutenance">{{ soutenance.etudiant }}</a></td>
                    <td>{{ soutenance.stage }}</td>
                    <td>{{ soutenance.entreprise }}</td>
                    <td>{{ soutenance.tuteur }}</td>
                    <td>{{ soutenance.representant }}</td>
                    <td class="table-action">
                        <a routerLink="/liste-soutenances/edit-soutenance"><i class="icon far fa-lg fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [commonProperties]="commonProperties"></app-pagination>
</div>
