<aside>
    <nav class="sidebar-content">
        <div class="navbar justify-content-center">
            <a class="navbar-brand" id="website-title"  routerLink="/">StageInfo</a>
        </div>

        <p class="sidebar-header">Catégorie</p>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/" > 
                    <!--<fa-icon class="sidebar-icon" [icon]="faCoffee"></fa-icon>-->
                    test
                </a>
            </li>
            <li class="sidebar-item">
                <!--<fa-icon class="sidebar-icon" [icon]="faCoffee"></fa-icon>-->
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <!--<fa-icon class="sidebar-icon" [icon]="faCoffee"></fa-icon>-->
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
        </ul>

        <p class="sidebar-header">Catégorie</p>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
        </ul>

        <p class="sidebar-header">Catégorie</p>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
        </ul>

        <p class="sidebar-header">Catégorie</p>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
        </ul>

        <p class="sidebar-header">Catégorie</p>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/" >test</a>
            </li>
        </ul>

 
    </nav>
</aside>