aside{
    width:260px;
    height: 100%;
    background-color: #293042;
    font-size: .85rem;
}

.sidebar-content{
    height:100vh;
    position:sticky;
    overflow: scroll;
}

#website-title{
    color:#e9ecef;
    font-weight: 500;
}

.sidebar-header{
    color: #ced4da;
    font-size: .8rem;
    padding: 1.5rem 1.5rem .375rem;
 }

.sidebar-nav{
    padding-left: 0;
    list-style: none;

     .sidebar-item{
         color: #e9ecef;
         
     
         .sidebar-icon{
             margin-right: .75rem;
             color: #adb5bd;
         }
   
         .sidebar-link, a{
             display: block;
             font-weight:400;
             color: #adb5bd;
             padding: .625rem 1.625rem;
         }

         .sidebar-item:hover{
            color: #e9ecef;
         }

         a[data-toggle="collapse"] {
            position: relative;
            display: block;
            width:100%;
        }

     }
}





