:host {             // host targets selector
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height   
}

.all-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px 15px;
    margin: 1rem;
}

.message-aucun-stage{
    text-align: center;
    margin-top:1rem;
    font-style: italic;
}



