<div id="info-user">
    <h1>Utilisateur : Antoine Barbier</h1>
    <div class="card">
        <div class="card-body">
            <table class="table table-sm my-2">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>Ramos</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>Angelica</td>
                    </tr>
                    <tr>
                        <th>Rôle</th>
                        <td><span class="badge badge-danger">Administrateur</span></td>
                    </tr>
                <br>
                    <tr>
                        <th>Email</th>
                        <td>angelica@ramos.com</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>+1234123123123</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>+1234123123123</td>
                    </tr>
                <br>
                    <tr>
                        <th>Numéro Étudiant</th>
                        <td>1938390</td>
                    </tr>
                    <tr>
                        <th>Promotion</th>
                        <td>2020/2021</td>
                    </tr>
                    <tr>
                        <th>Parcours</th>
                        <td>M2 Aigle</td>
                    </tr>
                <br>
                    <tr>
                        <th>Fonction Occupée</th>
                        <td>Chef d'entreprise</td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <td>IBM Montpellier</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
</div>